<div ui-view="main">
    <div class="panel panel-default" style="min-height: 500px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div id="wrapper-settings" style="margin-top: 22px">
                        <!-- Sidebar -->
                        <div id="sidebar-wrapper-settings">
                            <ul class="sidebar-nav">
                                <li>
                                    <a ui-sref="message.inbox" ng-click="showTableInbox()"><i class="fa fa-inbox"></i> Inbox</a>
                                </li>
                                <li>
                                    <a ui-sref="message.sent"><i class="fa fa-mail-forward"></i> Sent Messages</a>
                                </li>
                                <li>
                                    <a ui-sref="message.automate"><i class="fa fa-edit"></i> Automate Messages </a>
                                </li>
                                <li>
                                    <a ui-sref="message.template"><span class="glyphicon glyphicon-list-alt"></span> Choose Templates</a>
                                </li>
                                <li>
                                    <a ui-sref="#"><i class="fa fa-paperclip"></i> Labels
                                    <ul style="list-style: none;">
                                        <li>
                                            <a class="label label-default" href="#" style="display: inline;">Health: Good</a><br>
                                        </li>
                                        <li>
                                            <a class="label label-default" href="#" style="display: inline;">Health: Normal</a><br>
                                        </li>
                                        <li>
                                            <a class="label label-default" href="#" style="display: inline;">Health: Poor</a><br>
                                        </li>
                                        <li>
                                            <a class="label label-default" href="#" style="display: inline;">Default</a><br>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /#side-menu -->
                        </div>
                        <!-- /.sidebar-collapse -->
                    </div>
                </div>
                <!-- /.navbar-static-side -->
                <div class="col-md-9">
                    <div ui-view="messageapp" id="page-wrapper-settings">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>