<div ui-view="main">
    <div class="row text-center">
        <div class="btn-group btn-breadcrumb">
            <button class="btn btn-default" style="cursor:not-allowed">Select Segment</button>
            <button class="btn btn-info" style="cursor:not-allowed">Compose Message</button>
            <button class="btn btn-default" style="cursor:not-allowed">Send Test Email</button>
            <button class="btn btn-default" style="cursor:not-allowed">Make it Live</button>
        </div>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-6">
                <label class="col-md-2 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">Type: </label>
                <div class="col-md-6 col-md-offset-1">
                    <!-- <button type="button" class="btn btn-default" ng-model="selectedMessageType" data-html="1" ng-options="icon.value as icon.label for icon in icons" bs-select style=".dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus { background-color: #7b8a8b}">
                        Action <span class="caret"></span>
                    </button> -->
                    <p ng-bind="selectedMessageType"></p>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-2 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">From: </label>
                <div class="col-md-8">
                    <input class="form-control disabled" ng-model="email">
                </div>
            </div>
        </div>
        <div class="row text-center" style="padding-top: 40px;">
            <button class="btn btn-info" ui-sref="automateTest">Save Message</button>
        </div>
        <div class="row" style="padding-top:70px">
            <div class="col-md-6">
                <div class="text-center">
                    <p style="font-size: 20px;"><strong>Write Message: </strong></p>
                </div>
                <div text-angular ta-toolbar="[['h1','h2','h3','p'], ['bold','italics','ul', 'ol'],['html', 'insertImage', 'insertLink', 'dropdown']]" ng-model="htmlVariable"></div>
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <p style="font-size: 20px;"><strong>Preview: </strong></p>
                </div>
                <!-- TODO: Replace template color with the color entered by the user -->
                <br>
                <br>
                <div class="col-md-8 col-md-offset-2" ng-show="showNotification">
                    <div class="message-template message-template-danger" style="max-height: 200px; min-height: 200px; overflow: auto;">
                        <p ng-bind-html="htmlVariable"></p>
                    </div>
                    <div class="panel-footer" style="margin-top: -21px;">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." disabled="disabled"/>
                            <span class="input-group-btn">
                            <button class="btn btn-danger btn-sm disabled" id="btn-chat">
                            Send</button>
                            </span>
                        </div>
                    </div>
                    <br>
                </div>
                <!-- TODO: Replace template color with the color entered by the user -->
                <div class="col-md-10 col-md-offset-1" ng-show="showEmail">
                    <div class="message-template message-email-success" style="min-height: 300px; overflow: auto">
                        <p ng-bind-html="htmlVariable"></p>
                    </div>
                </div>
                <!-- <div text-angular text-angular-name="demo1"></div> -->
                <!-- <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div> -->
            </div>
        </div>
    </div>
    <br>
    <br>
</div>