<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="row">
    <div ng-include src="'/templates/navbar/server-error-success.html'" class="col-md-offset-4 col-md-4"></div>
</div>
<!-- <div class="row text-center" ng-show="showNotification">
    <div class="btn-group btn-breadcrumb">
        <button class="btn btn-default" style="cursor:not-allowed">Select Segment</button>
        <button class="btn btn-info" style="cursor:not-allowed">Compose Message</button>
        <button class="btn btn-default" style="cursor:not-allowed">Make it Live</button>
    </div>
</div> -->
<!-- <div class="row text-center" ng-show="showEmail">
    <div class="btn-group btn-breadcrumb">
        <button class="btn btn-info" style="cursor:not-allowed">Update Message</button>
        <button class="btn btn-default" style="cursor:not-allowed">Send Test Email</button>
    </div>
    <br>
    <br>
</div> -->
<button class="fa fa-backward btn btn-danger" style="width: 200px;" ng-click="doTheBack()"><span>&nbsp;&nbsp;Back</span></button>
<br>
<br>
<div class="panel panel-default">
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-6">
            <label class="col-md-2 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">Type: </label>
            <div class="col-md-6">
                <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto disabled" data-toggle="dropdown"> <span data-bind="label" id="Users" class="{{selectedMessageType.icon}}">&nbsp;{{selectedMessageType.value}}</span>&nbsp;<span class="caret"></span></button>
                <ul class="select dropdown-menu" role="select" style="left: 15px; top:100%;">
                    <li ng-repeat="icon in icons">
                        <a style="cursor: default" ng-click="changeBtnText($index)"><i class="{{icon.label}}"></i>&nbsp;{{icon.value}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-2 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">To: </label>
            <div class="col-md-6">
                <input class="form-control" ng-model="segment" disabled>
                <!-- <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users" class="{{selectedMessageType.icon}}">&nbsp;{{selectedMessageType.value}}</span>&nbsp;<span class="caret"></span></button>
                    <ul class="select dropdown-menu" role="select" style="left: 15px; top:100%;">
                        <li ng-repeat="icon in icons">
                            <a style="cursor: default" ng-click="changeBtnText($index)"><i class="{{icon.label}}"></i>&nbsp;{{icon.value}}
                            </a>
                        </li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-6">
            <label class="col-md-2 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">From: </label>
            <div class="col-md-6">
                <!-- <input class="form-control disabled" ng-model="email"> -->
                <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto disabled" data-toggle="dropdown"> <span data-bind="label" id="Users">&nbsp;{{sender}}</span>&nbsp;<span class="caret"></span></button>
                <ul class="select dropdown-menu" role="select" style="left: 15px; top:100%;">
                    <li ng-repeat="member in team">
                        <a style="cursor: default" ng-click="changeFromEmailText($index)">{{member.accid.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <label style="font-size: 20px; padding-left: 0px;" class="col-md-2 col-md-offset-2 control-label">Title: </label>
            <div class="col-md-6">
                <input class="form-control disabled" ng-model="title" placeholder="Title">
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:70px">
        <div class="col-md-6">
            <div class="text-center">
                <p style="font-size: 20px;"><strong>Write Message: </strong></p>
            </div>
            <div ng-show="showNotification">
                <text-angular-toolbar name="toolbar" ta-toolbar="[['h1','h2','h3','p', 'pre'], ['bold','italics','ul', 'ol'],['html', 'insertImage', 'insertLink', 'dropdown']]"></text-angular-toolbar>
                <text-angular name="notificationBody" ng-model="notificationBody" ta-target-toolbars='toolbar' ng-change="showText(notificationBody)"></text-angular>
            </div>
            <!-- <div text-angular ta-toolbar="[['h1','h2','h3','p'], ['bold','italics','ul', 'ol'],['html', 'insertImage', 'insertLink', 'dropdown']]" ng-model="htmlVariable" ng-change="showText(htmlVariable)" ng-show="showNotification" style="height: 300px;"></div> -->
            <div ng-show="showEmail">
                <text-angular-toolbar name="toolbar1" ta-toolbar="[['h1','h2','h3','p', 'pre'], ['bold','italics','ul', 'ol'],['html', 'insertImage', 'insertLink', 'dropdown']]"></text-angular-toolbar>
                <text-angular name="subject" ng-model="subject" ta-target-toolbars='toolbar1' class="subject"></text-angular>
                <br>
                <text-angular name="emailBody" ng-model="emailBody" ta-target-toolbars='toolbar1' ng-change="showText(emailBody)"></text-angular>
            </div>
            <br>
            <br>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <p style="font-size: 20px;"><strong>Preview: </strong></p>
            </div>
            <!-- TODO: Replace template color with the color entered by the user -->
            <div style="padding-top: 55px;">
                <div class="col-md-8 col-md-offset-2" ng-show="showNotification">
                    <div class="message-template" style="max-height: 200px; min-height: 200px; overflow: auto;" ng-style="{'border-color': borderColor, 'border-right': borderRight, 'border-top': borderTop, 'border-bottom': borderBottom, 'border-radius': borderRadius}">
                        <p ng-bind-html="notificationBody"></p>
                    </div>
                    <div class="panel-footer" style="margin-top: -21px;">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." disabled="disabled"/>
                            <span class="input-group-btn">
                            <button class="btn btn-sm disabled" id="btn-chat" ng-style="{'background-color': backGrndColor, 'border-color': borderColor}">
                            Send</button>
                            </span>
                        </div>
                    </div>
                    <br>
                </div>
                <!-- TODO: Replace template color with the color entered by the user -->
                <div class="col-md-10 col-md-offset-1" ng-show="showEmail" style="margin-top: 40px;">
                    <label style="font-size: 18px;">Subject: </label>&nbsp;<span ng-bind-html="subject" class="emailPreview"></span>
                    <div style="min-height: 300px; overflow: auto; max-height: 300px; margin-top: 30px;">
                        <p ng-bind-html="emailBody"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <p>{{text}}</p> -->
    <div class="row text-center" style="padding-top: 20px;">
        <button class="btn btn-info" ng-click="updateMessage()">Update Message</button>
    </div>
<br>
<br>
</div>