<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="panel" style="min-height: 500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div id="wrapper-settings">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper-settings">
                         <ul class="sidebar-nav">
                            <li class="active">
                                <a ng-click="goToOpenMsg()" style="cursor: pointer;"><i class="fa fa-inbox"></i> Open Messages</a>
                            </li>
                            <li>
                                <a ng-click="goToUnreadMsg()" style="cursor: pointer;"><i class="fa fa-exclamation"></i>&nbsp; Unread Messages</a>
                            </li>
                            <li>
                                <a ng-click="goToClosedMsg()" style="cursor: pointer;"><i class="fa fa-check"></i>&nbsp; Closed Messages</a>
                            </li>
                            <li>
                                <span style="cursor: default; color: #333;"> SMART FILTERS
                                </span>
                            </li>
                            <li>
                                <a style="cursor: pointer;" ng-click="goToGoodHealth()"><i class="fa fa-smile-o"></i>&nbsp;Good Health
                                </a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" ng-click="goToAvgHealth()"><i class="fa fa-meh-o"></i>&nbsp;Average Health
                                </a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" ng-click="goToPoorHealth()"><i class="fa fa-frown-o"></i>&nbsp;Poor Health
                                </a>
                            </li>
                        </ul>
                        <!-- /#side-menu -->
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            </div>
            <div class="col-md-9">
                <div id="wrapper">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-comments"></i> Open Messages
                                </div>
                                <!-- /.panel-heading -->
                                <div>
                                    <div class="row">
                                        <div class="col-md-offset-4">
                                            <br>
                                            <div ng-show="!showOpenConversations" class="text-center well" style="width: 250px;"><br><span> This folder doesn't have any messages</span><br><br></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="table-responsive" ng-show="showOpenConversations">
                                                <table ng-table="tableParamsInbox" show-filter="true" class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th ng-repeat="column in columnsInbox" ng-show="column.visible"
                                                                class="text-center" ng-class="{
                                                                'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                                                'sort-desc': tableParams.isSortBy(column.field, 'desc')
                                                                }"
                                                                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                                                <div>{{column.title}}</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="user in $data">
                                                            <td data-title="'User'" style="text-align:center; cursor:pointer" ng-click="showSelectedMail(user.id)" id="showOpenMsgs">
                                                                <span>{{user.name}}</span>
                                                            </td>
                                                            <td data-title="'Subject'" style="text-align:center; cursor:pointer" ng-click="showSelectedMail(user.id)">
                                                                <span>{{user.subject}}</span>
                                                            </td>
                                                            <td data-title="'When'" style="text-align:center; cursor:pointer;" ng-click="showSelectedMail(user.id)">
                                                                <span>{{user.time}}</span>
                                                            </td>
                                                            <td data-title="''" style="text-align:center">
                                                                <a href="#" ng-click="closeConversation(user.id, user, $index)">Close</a>
                                                            </td>
                                                            <td data-title="''" style="text-align:center">
                                                                <li class="dropdown" style="list-style: none;">
                                                                    <a href="#" ng-click="assignTo(user.id)" class="dropdown-toggle">{{user.assign}}</a>
                                                                    <ul ng-show="assignSelect" class="dropdown-menu" role="menu" style="left:auto; right: 0">
                                                                        <li role="presentation">
                                                                            <a style="cursor: pointer" ng-repeat="member in team" ng-click="assignToMember(member.accid._id, user.id, member.accid.name, $parent.$index)">{{member.accid.name}}</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </td>
                                                            <!-- <td ng-repeat="column in columnsInbox" ng-show="column.visible" sortable="column.field" class="text-center"></td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-8 -->
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->
                <!-- /#wrapper -->
            </div>
        </div>
    </div>
</div>
