<div ng-include src="'/templates/navbar/navbar.html'"></div>
<button class="btn btn-danger" style="width: 200px;" ng-click="doTheBack()">Back</button>
<br>
<br>
<div>
    <div class="col-md-3 well">
        <div class="row">
            <div class="col-md-4">
                <img src={{custsrc}}
                alt="" class="img-rounded img-responsive" style="height:70px"/>
            </div>
            <div class="col-md-4">
                <h3>John</h3>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    <small><cite title="Source Title">Ahmedabad, India  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                    <small><cite title="Source Title">john@dodatado.com  <i class="glyphicon glyphicon-envelope"></i></cite></small>
                </blockquote>
            </div>
            <br>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p> Pulse: {{healthScore}}/100</p>
                <p> Plan: {{plan}}</p>
                <p> Plan Value: {{planValue}}</p>
                <p> Renewal: {{renewal}}</p>
                <p> Open Conversations: 3</p>
                <p> Health: 70 (Good)</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-envelope"></i> Message from John
            </div>
            <div class="panel-body">
                <div class="col-md-12" ng-repeat="message in messagesWithSrc">
                    <br ng-show="!$first">
                    <br ng-show="!$first">
                    <div class="blockquote-box clearfix">
                        <div class="square pull-left">
                            <img src={{message.src}} alt="" class="" />
                        </div>
                        <div class="col-md-3">
                            <h4>
                            <strong>{{message.createdby}}</strong></h4>
                        </div>
                        <div class="col-md-push-3 col-md-3">
                            <span class="label label-success" ng-show={{message.seen}}>Seen</span>
                        </div>
                        <div class="col-md-push-1 col-md-3">
                            <em>
                            <small>messaged {{message.createdat}}</small> &nbsp;
                            <!-- <a class="glyphicon glyphicon-pencil"></a>
                            <a class="glyphicon glyphicon-remove"></a> -->
                            </em>
                        </div>
                        <div class="col-md-9">
                            <p>
                            {{message.messagebody}}
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div ng-show="replyButtonClicked" ng-repeat="reply in replies">
                    <div class="col-md-12">
                        <br>
                        <br>
                        <div class="blockquote-box clearfix">
                            <div class="square pull-left">
                                <img src={{replysrc}} alt="" class="" />
                            </div>
                            <div class="col-md-3">
                                <h4>
                                <strong>{{user}}</strong></h4>
                            </div>
                            <!-- <div class="col-md-push-3 col-md-3">
                                                                <span class="label label-success">Seen</span>
                            </div> -->
                            <div class="col-md-push-4 col-md-3">
                                <em>
                                <small>messaged {{today}}</small> &nbsp;
                                <!-- <a class="glyphicon glyphicon-pencil"></a>
                                <a class="glyphicon glyphicon-remove"></a> -->
                                </em>
                            </div>
                            <div class="col-md-9">
                                <p value="reply.body">
                                {{reply.body}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div ng-show="!insideReplyBox">
                                        <textarea class="form-control" placeholder="Click here to Reply or Forward" ng-click="showReplyButton()"></textarea>
                </div> -->
                <div>
                    <div class="col-md-5" style="padding-top: 30px;" ng-show="showerror">
                        <div class="alert alert-danger text-center" style="background-color: #f2dede; border-color: #ebccd1; padding: 7px">
                            <small class="error" ng-show="showerror" style="color: #a94442">
                            There was an error. Reply cannot be blank.
                            </small>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-md-12" style="padding-top: 45px;">
                        <div>
                            <div class="square pull-left">
                                <img src={{replysrc}} alt="" class="" />
                            </div>
                        </div>
                        <div class="col-md-10" style="width: 85%">
                            <textarea class="form-control" rows="5" ng-model="replytext" ng-change="changeButtonText()"></textarea>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12" style="padding-top: 45px;">
                        <div class="btn-toolbar" style="padding-right: 20px;">
                            <button class="btn btn-success col-md-2 pull-right" ng-click="closeTicket()">{{buttontext}}</button>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-success col-md-2 pull-right" ng-click="validateAndAddReply()">Reply</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>