<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="row">
    <div ng-include src="'/templates/navbar/server-error-success.html'" class="col-md-offset-4 col-md-4"></div>
</div>
<div class="row text-center">
    <div class="btn-group btn-breadcrumb">
        <button class="btn btn-default" style="cursor:not-allowed">Select Segment</button>
        <button class="btn btn-default" style="cursor:not-allowed">Compose Message</button>
        <button class="btn btn-info" style="cursor:not-allowed">Send Test Email</button>
        <button class="btn btn-default" style="cursor:not-allowed">Make it Live</button>
    </div>
</div>
<br>
<br>
<div class="row" style="padding-top: 50px;">
    <div class="col-md-push-3 col-md-6">
        <div class="text-center">
            <label style="font-size: 18px;">Subject: </label>&nbsp;<span ng-bind-html="subject" class="emailPreview"></span>
        </div>
        <div class="message-template" style="min-height: 300px; overflow: auto; max-height: 300px;" ng-style="{'border-color': emailBorderColor, 'border-right': emailBorderRight, 'border-top': emailBorderTop, 'border-bottom': borderBottom, 'border-radius': borderRadius}">
            <p ng-bind-html="previewText"></p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<div class="col-md-6 col-md-push-3 row" style="padding-left: 24px; padding-right: 0px;">
    <button class="btn btn-info btn-block" ng-click="sendTestEmail()">Send Test Email</button>
</div>