<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="panel" style="min-height: 500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div id="wrapper-settings">
                    <div id="sidebar-wrapper-settings" style="background-color: #fff; border: 0px;">
                        <div>
                            <a class="btn btn-info btn-block" href="/apps/{{currApp}}/automessage/segments">Create New Auto Message</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-12">
                <div id="wrapper">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <i class="fa fa-inbox"></i> Auto Messages
                                </div>
                                <!-- /.panel-heading -->
                                <div>
                                    <div class="row">
                                    <div class="text-center" ng-show="!showTable"><br><span>There are no Automatic Messages!! Create one</span><br><br></div>
                                        <div class="col-lg-12" ng-if="showTable">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <th class="text-center">Segment</th>
                                                        <th class="text-center">Title</th>
                                                        <th class="text-center">Type</th>
                                                        <th class="text-center">Sent</th>
                                                        <th class="text-center">Replied</th>
                                                        <th class="text-center">Seen</th>
                                                        <!-- <th class="text-center">Clicked</th> -->
                                                        <th></th>
                                                        <!-- <th></th> -->
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="automessage in automessages">
                                                            <td class="text-center" style="cursor: pointer" ng-click="showAutoMsg($index)"> {{automessage.segment}} </td>
                                                            <td class="text-center" style="cursor: pointer" ng-click="showAutoMsg($index)"> {{automessage.title}} </td>
                                                            <td class="text-center" style="cursor: pointer" ng-click="showAutoMsg($index)">
                                                                {{automessage.type}}
                                                            </td>
                                                            <td class="text-center" style="cursor: pointer" ng-click="showAutoMsg($index)">
                                                                {{automessage.sent}}
                                                            </td>
                                                            <td class="text-center" style="cursor: pointer" ng-click="showAutoMsg($index)">{{automessage.replied}}</td>
                                                            <td class="text-center" style="cursor: pointer" ng-click="showAutoMsg($index)">{{automessage.seen}}</td>
                                                            <td class="text-center">
                                                                <a style="cursor: pointer" class="btn btn-sm btn-info" ng-click="changeMsgStatus(automessage.id, automessage.message, $index)" id="activate-deactivateAutoMsg">{{automessage.message}}</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>
                                        <div class="text-center" style="padding-top: 20px;">
                                            <div class="col-md-push-4 col-md-4">
                                                <a class="btn btn-info btn-block" href="/apps/{{currApp}}/automessage/segments">Create New Auto Message</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                            <!-- /.panel -->
                            <div class="row" style="padding-top:50px">
                            </div>
                        </div>
                        <!-- /.col-lg-8 -->
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->
                <!-- /#wrapper -->
            </div>
        </div>
    </div>
</div>
