<div ng-include src="'/templates/navbar/navbar.html'"></div>
    <div class="row text-center">
        <div class="btn-group btn-breadcrumb">
            <button class="btn btn-default" style="cursor:not-allowed">Select Segment</button>
            <button class="btn btn-default" style="cursor:not-allowed">Compose Message</button>
            <button class="btn btn-info" style="cursor:not-allowed">Send Test Email</button>
            <button class="btn btn-default" style="cursor:not-allowed">Make it Live</button>
        </div>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-push-4 col-md-4">
                <div class="message-template message-template-danger" style="max-height: 200px; min-height: 200px; overflow: auto;">
                    <p ng-bind-html="previewText"></p>
                </div>
                <div class="panel-footer" style="margin-top: -21px;">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." disabled="disabled"/>
                        <span class="input-group-btn">
                        <button class="btn btn-danger btn-sm disabled" id="btn-chat">
                        Send</button>
                        </span>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <button class="btn btn-info pull-right" ui-sref="automateLive" ng-click="sendTestEmail()">Send Test Email</button>
            </div>
            <br>
            <br>
        </div>
    </div>
