{{ include header }}
<p>Hi {{= name || 'there' }},</p>
<br>
<p style="font-size: 15px; margin-top: 10px;"><b>{{= sentBy }} sent you a message: <b></p>
<br>
<p>{{- message }}</p>
</td>
<td class="expander"></td>
</tr>
</table>
<table class="row">
<tr>
<td class="wrapper">
<table class="six columns">
    <tr>
        <td>
            <a href="{{= conversationUrl }}">
                {{= conversationUrl}}
        </td>
    </tr>
</table>
</td>
</tr>
</table>
<br>
<br>
{{ include footer }}