{{ include header }}
<p>Hi {{= name || 'there' }},</p>
<br>
<img src="./img/thumbnail.jpeg" style="width: 60px; margin-right: 15px;">
<!-- <p>You requested a password change for your UserJoy account. Set up a new password by clicking on the link below.</p> -->
<p style="font-size: 15px; margin-top: 10px;"><b>Savinay<b></p>
<p style="font-size: 13px;">Assignee: Prateek</p>
<br>
<p>{{Message}}</p>
</td>
<td class="expander"></td>
</tr>
</table>
<table class="row">
<tr>
<td class="wrapper offset-by-three">
<table class="six columns">
    <tr>
        <td class="center">
            <table class="button">
                <tr>
                    <td>
                        <a href="#">View Ticket</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
<br>
<br>
{{ include footer }}