{{ include header }}
<p>Hi {{= name || 'there'}},</p>
<br>
<p>Thank you for signing up for UserJoy. Click on the link below to confirm your email.
</p>
</td>
<td class="expander"></td>
</tr>
</table>
<table class="row">
<tr>
<td class="wrapper offset-by-three">
<table class="six columns">
    <tr>
        <td class="center">
            <a href="{{= confirmUrl }}">
                <table class="button">
                    <tr>
                        <td>
                            Confirm Email
                        </td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
<br>
<table class="twelve columns">
<tr>
<td>
<p>You will get your tracking code once you confirm your email. Install the code on your webpage.</p>
</td>
<td class="expander"></td>
</tr>
</table>
<br>
<br>
{{ include footer }}
