<h1>Hi {{= name || 'there' }}</h1>

<p>Congratulations on joining UserJoy!</p>

<p>To confirm your email, click this link: <a href="{{= confirmUrl }}">{{= confirmUrl }}</a></p>

<p>
Thanks,
<br>
Team UserJoy
</p>
