{{ include header }}
<p>Hi {{= name }},</p>
<br>
<p>You requested a password change for your UserJoy account. Set up a new password by clicking on the link below.</p>

</td>
<td class="expander"></td>
</tr>
</table>
<table class="row">
<tr>
<td class="wrapper offset-by-three">
<table class="six columns">
    <tr>
        <td class="center">
            <table class="button">
                <tr>
                    <td>
                        <a href="{{= url }}">Reset Password</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
<br>
<table class="twelve columns">
<tr>
<td>
<p>If you don't want to change your password or didn't request this, just ignore and delete this message.</p>
</td>
<td class="expander"></td>
</tr>
</table>
<br>
<br>
{{ include footer }}
