{{ include header }}
<p>Hi,</p>
<br>
<p>Could you please integrate UserJoy code on your website. The code goes here:</p>

</td>
<td class="expander"></td>
</tr>
</table>
<table class="row">
<tr>
<td>
<table class="twelve-columns">
<pre style="background-color: #ecf0f1; border-radius: 10px;">
<code>
  window.userjoy=window.userjoy||[],window.userjoy.methods=["identify","company","track","page","track_link","track_form"],window.userjoy.factory=function(a){return function(){var b=Array.prototype.slice.call(arguments);return b.unshift(a),window.userjoy.push(b),window.userjoy}};for(var i=0;i < window.userjoy.methods.length;i++){var key=window.userjoy.methods[i];window.userjoy[key]=window.userjoy.factory(key)}window.userjoy.load=function(a){if(!document.getElementById("userjoy-js")){window._userjoy_id=a;var b=document.createElement("script");b.type="text/javascript",b.id="userjoy-js",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//d1jozu9mugm1h5.cloudfront.net/js/userjoy.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}};​​

  window.userjoy.load('{{apiKey}}');

  userjoy.page();

  userjoy.identify({
    // TODO: Replace email below with that of the logged in user
    email: 'test@userjoy.co'
  });
</code>
</pre>
</table>
</td>
</td>
</tr>
</table>
<br>
{{ include footer }}