{{ include header }}
<p>Hi {{= name || 'there' }},</p>
<br>
<p>You have received an invitation to join <b>{{= appName }}</b> on UserJoy. Please click on the link below to accept the invitation.</p>

</td>
<td class="expander"></td>
</tr>
</table>
<table class="row">
<tr>
<td class="wrapper offset-by-three">
<table class="six columns">
  <tr>
    <td class="center">
      <table class="button">
        <tr>
          <td>
            <a href="{{= inviteUrl }}">Accept</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</td>
</tr>
</table>
<br>
<br>
{{ include footer }}
