<h1>Hi {{= userName || 'there' }}</h1>

<p>You have been invited to join the {{= appName }} team on UserJoy!</p>

<p>To join, click on this link: <a href="{{= inviteUrl }}">{{= inviteUrl }}</a></p>

<p>
Thanks,
<br>
Team UserJoy
</p>
