<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button class="btn btn-success btn-circle" style="cursor:not-allowed">1</button>
                        <p>Onboarding</p>
                    </div>
                    <div class="stepwizard-step">
                        <button class="btn btn-default btn-circle" style="cursor:not-allowed">2</button>
                        <p>Install Code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row col-md-8 col-md-offset-2">
        <div class="well well-sm">
            <form class="form-horizontal" role="form" ng-submit="installapp()">
                <fieldset>
                <legend class="text-center">Onboard Your App</legend>
                <div class="form-group">
                    <label for="appname" class="col-md-4 control-label" style="font-size: 20px"><strong>Application Name</strong></label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Enter Application Name" ng-model="appname" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="domain" class="col-md-4 control-label" style="font-size: 20px"><strong>Domain</strong></label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Enter Domain Name" ng-model="domain" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-info pull-right" style="padding-top:10px">Next</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>