#wrapper-settings {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper-settings {
  left: 250px;
  width: 255px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  color: #31708f;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  border-radius: 4px;
  margin-left: -250px;
}

#page-content-wrapper {
  width: 100%;
}

#page-wrapper-settings {
  position: inherit;
  /*padding: 0 30px;*/
  border-left: 1px solid #e7e7e7;
  min-height: 300px;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}