{{ include header }}
<p>Hi {{= name || 'there' }},</p>
<br>
<img src="{{= gravatar }}" style="margin-right: 15px;"> 
<p>You have been assigned the following message: </p>
<a href="{{= conversationUrl }}" style="text-decoration: underline;"><b>{{= subject }}</b></a>
</td>
<td class="expander"></td>
</tr>
</table>
<br>
<br>
{{ include footer }}