<table class="twelve columns">
    <tr>
        <td>
            <p>
            Thanks!
            <br>
            - UserJoy Team
            </p>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</td>
</tr>
</table>
</body>
</html>