<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/zurb-ink/1.0.5/ink.min.css"> <!-- For testing only -->
        <style type="text/css">
                    
                    /* Ink styles go here in production */
                    
        </style>
        <style type="text/css">
                    /* Your custom styles go here */
        </style>
    </head>
    <body>
        <table class="body">
            <tr>
                <td id="center" class="center panel" align="center" valign="top" style="background-color: #ffffff;">
                    <center>
                    <table class="row header" style="background-color: #f5f4f1; height: 60px;">
                        <tr>
                            <td class="center" align="center">
                                <center>
                                <table class="container">
                                    <tr>
                                        <td class="wrapper last">
                                            <table class="twelve columns">
                                                <tr>
                                                    <td class="six sub-columns">
                                                        <h3 style="text-align: center;">UserJoy</h3>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                </center>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table class="container">
                        <tr>
                            <td>
                                <!-- content start -->
                                <table class="row">
                                    <tr>
                                        <td class="wrapper last">
                                            <table class="twelve columns">
                                                <tr>
                                                    <td>