<div class="modal" tabindex="-1" role="dialog" ng-controller="sendMessageCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <form name="messageManualForm" class="form-horizontal" role="form" ng-submit="sendManualMessage()" novalidate>
                <div class="modal-body">
                    <p ng-bind="content"></p>
                    <div class="media">
                        <div style="margin-bottom: 25px;">
                            <input id="subject" type="text" class="form-control" name="sub" placeholder="Subject" ng-model="sub" required>
                        </div>
                        <div style="margin-bottom: 25px;">
                            <textarea id="messagetext" class="form-control" placeholder="Message" type="text" name="text" ng-model="msgtext" required rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>