<div ng-controller="ProfileCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Create Note</h3>
    </div>
    <!-- <div class="modal-body"> -->
    <form name="noteForm" class="form-horizontal" role="form" ng-submit="createNote()" novalidate>
        <div class="modal-body">
            <p ng-bind="content"></p>
            <div class="media">
                <div style="margin-bottom: 25px;">
                    <textarea id="messagetext" class="form-control" placeholder="Note" type="text" name="text" ng-model="note.text" required rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info">Create</button>
        </div>
    </form>
</div>