<div ng-include src="'/templates/navbar/navbar.html'"></div>
<!-- <div style="margin-top: 5px;"> -->
    <!-- <flash:messages></flash:messages> -->
<!-- </div> -->
<div class="panel">
    <div class="panel-body">
        <div class="caption-full">
            <form name="usersListForm" novalidate id="filterUsersAndRunQuery">
                <div class="col-md-8" style="margin-left: 10px;">
                    <div class="row" style="padding-left: 40px;" ng-show="segmentClicked">
                        <h4 class="well" ng-bind="segmentNameClicked"></h4>
                    </div>
                    <div class="row" style="padding-left: 40px;">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" style="font-size: 17px; padding-left: 13px">List: </label>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-sm btn-default" ng-model="selectedIcon" data-html="1" ng-options="segmenticon.value as segmenticon.label for segmenticon in segmenticons" bs-select style=".dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus { background-color: #7b8a8b}; padding-top: 3px; padding-bottom: 3px;">
                                All Users
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <div ng-repeat="filter in filters" ng-init="ind = $index">
                            <div class="row" style="padding-left: 40px;">
                                <br>
                                <label class="col-md-1 control-label" style="font-size:17px" ng-show="$first">Filter: </label>
                                <a style="font-size:17px; cursor:pointer; cursor:hand" ng-show="!$first" ng-click="switchAndOr()" class="col-md-1">{{text}}</a>
                                <div>
                                    <div class="col-md-11">
                                        <div class="row">
                                            <div>
                                                <div style="padding-left: 24px; float: left;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.btntext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li class="dropdown dropdown-submenu">
                                                            <a style="cursor: default" id="hasdoneQueries">Has done</a>
                                                            <ul class="dropdown-menu" style="max-height: 356px; overflow-y: scroll;">
                                                                <li ng-repeat="hasDoneItem in hasDoneItems">
                                                                    <a style="cursor: default" ng-click="changeFilterHasDone($parent.$index, $index, $event)">{{hasDoneItem.query}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown dropdown-submenu"><a style="cursor: default" id="hasnotdonequeries">Has not done</a>
                                                            <ul class="dropdown-menu" style="max-height: 356px; overflow-y: scroll;">
                                                                <li ng-repeat="hasNotDoneItem in hasNotDoneItems"><a style="cursor: default" ng-click="changeFilterHasNotDone($parent.$index, $index, $event)">{{hasNotDoneItem.query}}</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown dropdown-submenu"><a style="cursor: default" id="countOfQueries">Count of</a>
                                                            <ul class="dropdown-menu" style="max-height: 356px; overflow-y: scroll;">
                                                                <li ng-repeat="countOfItem in countOfItems"><a style="cursor: default" ng-click="changeFilterCountOf($parent.$index, $index, $event)">{{countOfItem.query}}</a></li>
                                                            </ul>
                                                        </li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li ng-repeat="attribute in attributes" ><a style="cursor: default;" ng-click="changeFilterAttribute($parent.$index, $index, $event)" id="attributeQueries">{{attribute.name}}</a></li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.showDatePicker && !filter.showOtherAttributesQuery &&
                                                    !filter.showScore && !filter.showHealthStatus && !filter.showPayingStatus && !filter.isEvent" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="query in selectedqueries">
                                                            <a style="cursor: default;" ng-click="chngquery($parent.$index, $index)">{{query.value}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.showOtherAttributesQuery" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="query in otherAttributesQuery">
                                                            <a style="cursor: default;" ng-click="changeOtherAttributesQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="!filter.checkMethod" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.query}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="dropdown-menu" style="left: auto; max-height: 356px; overflow-y: scroll;">
                                                        <li ng-repeat="hasDoneItem in hasDoneItems">
                                                            <a style="cursor: default" ng-click="changeEventFilter($parent.$index, $index, $event)">{{hasDoneItem.query}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.showDatePicker" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li ng-repeat="query in datePickerQueries">
                                                            <a style="cursor: default;" ng-click="chngDatePickerQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && (filter.showHealthStatus || filter.showPayingStatus)" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.optext}}</span></button>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.isEvent" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li ng-repeat="query in scoreQueries">
                                                            <a style="cursor: default;" ng-click="chngScoreQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.showScore" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li ng-repeat="query in scoreQueries">
                                                            <a style="cursor: default;" ng-click="chngScoreQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.isEvent" style="float: left; padding-left: 24px;">
                                                    <input type="text" placeholder="Value" ng-model="filter.val" class="form-control input-sm" style="width: 70px; height: 27px;">
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && !filter.showDatePicker && !filter.showHealthStatus && !filter.showPayingStatus" style="float: left; padding-left: 24px;">
                                                    <input type="text" placeholder="Value" ng-model="filter.val" class="form-control input-sm" style="height: 27px;">
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && filter.showDatePicker" style="float: left; padding-left: 24px;">
                                                    <span class="input-group">
                                                    <input type="text" class="form-control input-sm"  ng-model="filter.val" style="width: 70px; border-top-left-radius: 3px;
                                                    border-bottom-left-radius: 3px;
                                                    border-bottom-right-radius: 3px;
                                                    border-top-right-radius: 3px; height: 27px;" /> &nbsp;
                                                    days ago</span>
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && filter.showHealthStatus" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.valuetext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="healthStatus in healthStatusValuesname">
                                                            <a style="cursor: default;" ng-click="chngHealthStatus($parent.$index, $index)">{{healthStatus.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && filter.showPayingStatus" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="Users">{{filter.valuetext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="payingStatus in payingStatusValues">
                                                            <a style="cursor: default;" ng-click="chngPayingStatus($parent.$index, $index)">{{payingStatus.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.isEvent" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown" style="padding-top: 3px; padding-bottom: 3px;"> <span data-bind="label" id="timeRangeValues">{{otherTimeRange}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="range in timeSpan">
                                                            <a style="cursor: default;" ng-click="chngrange($parent.$index, $index)">{{range.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div style="float: left; padding-left: 24px;">
                                                    <a class="btn btn-sm btn-default fa fa-times" ng-click="removeFilter(filter)" ng-hide="segmentClicked && $first" style="padding-top: 5px; padding-bottom: 5px;"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4" style="margin-left: 20px">
                                <button type="button" class="btn btn-default btn-sm" ng-click="addAnotherFilter()" ng-show="true" style="padding-top: 3px; padding-bottom: 3px;">
                                <i class="fa fa-plus-square"></i>
                                Filter
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12" style="margin-left: 20px">
                                <!-- <button type="button" class="btn btn-success btn-sm fa fa-toggle-right" ng-click="runQuery()">
                                Compute
                                </button> -->
                                <button type="button" class="btn btn-default btn-sm fa fa-save" ng-click="saveQuery()" ng-show="showSaveButton">
                                Save
                                </button>
                                <div class="popover right" tabindex="-1" style="display: block; position: absolute; top: -73px; left: 190px;" ng-show="showPopover">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title"> Save segment
                                    </h3>
                                    <div class="popover-content">
                                        <form name="popoverForm" ng-submit="createSegment()" novalidate>
                                            <div class="row" style="padding: 10px;">
                                                <input id="segmentName" type="text" class="form-control input-sm" name="segmentName" placeholder="Segment" ng-model="segmentName" required >
                                                <br>
                                                <button type="submit" class="btn btn-info btn-sm" ng-click="createSegment()">Create</button>
                                                <button type="button" class="btn btn-default btn-sm" ng-click="closePopover($event)">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default fa fa-refresh btn-sm" ng-click="updateQuery()" ng-show="showUpdateButton">
                                Update
                                </button>
                                <img src="/images/spiffygif_30x30.gif" ng-show="showSpinner">
                                <div class="popover right" tabindex="-1" style="display: block; position: absolute; top: -73px; left: 204px;" ng-show="showUpdatePopover">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title"> Update segment
                                    </h3>
                                    <div class="popover-content">
                                        <form name="popoverForm" novalidate>
                                            <div class="row" style="padding: 10px;">
                                                <input id="segmentName" type="text" class="form-control input-sm" name="updatedSegmentName" placeholder="Segment" ng-model="updatedSegmentName" required  ng-disabled="isHealth">
                                                <br>
                                                <button type="submit" class="btn btn-info btn-sm" ng-click="updateSegment()">Update</button>
                                                <button type="button" class="btn btn-default btn-sm" ng-click="closeUpdatePopover($event)">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button  type="button" class="btn btn-default btn-sm pull-right fa fa-times" ng-click="clearAllFilters()" ng-show="showUpdateButton || showSaveButton">&nbsp;Clear All Filters
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
