<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="caption-full">
        <form name="usersListForm" novalidate>
            <div class="col-md-9">
                <div class="row" style="padding-left: 40px; padding-top: 20px;">
                    <div class="col-md-12">
                        <label class="col-md-1 control-label" style="font-size: 20px; padding-left: 13px">List: </label>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="segmenticon.value as segmenticon.label for segmenticon in segmenticons" bs-select style=".dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus { background-color: #7b8a8b}">
                            Users <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <br>
                <div class="form-group">
                    <div ng-repeat="filter in filters" ng-init="ind = $index">
                        <div class="row" style="padding-left: 40px;">
                            <br>
                            <label class="col-md-1 control-label" style="font-size:20px" ng-show="$first">Filter: </label>
                            <a style="font-size:20px; cursor:pointer; cursor:hand" ng-show="!$first" ng-click="switchAndOr()" class="col-md-1">{{text}}</a>
                            <div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-4" style="padding-left: 24px;">
                                            <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.btntext}}</span>&nbsp;<span class="caret"></span></button>
                                            <!-- <button type="button" ng-class="{'btn': true, 'btn-default': true, 'dropdown-toggle': true, 'form-control': true, 'selectwidthauto': true}" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.btntext}}</span>&nbsp;<span class="caret"></span></button> -->
                                            <ul class="select dropdown-menu" role="select" style="left: 23px;">
                                                <li class="dropdown dropdown-submenu">
                                                    <a style="cursor: default">Has done</a>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="hasDoneItem in hasDoneItems">
                                                            <a style="cursor: default" ng-click="changeFilterHasDone($parent.$index, $index, $event)">{{hasDoneItem.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown dropdown-submenu"><a style="cursor: default">Has not done</a>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="hasNotDoneItem in hasNotDoneItems"><a style="cursor: default" ng-click="changeFilterHasNotDone($parent.$index, $index, $event)">{{hasNotDoneItem.name}}</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown dropdown-submenu"><a style="cursor: default">Count of</a>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="countOfItem in countOfItems"><a style="cursor: default" ng-click="changeFilterCountOf($parent.$index, $index, $event)">{{countOfItem.name}}</a></li>
                                                    </ul>
                                                </li>
                                                <li role="presentation" class="divider"></li>
                                                <li ng-repeat="attribute in attributes" ><a style="cursor: default;" ng-click="changeFilterAttribute($parent.$index, $index, $event)">{{attribute.name}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3" ng-if="filter.checkMethod">
                                            <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                            <ul class="select dropdown-menu" role="select" style="left: 15px">
                                                <li ng-repeat="query in selectedqueries">
                                                    <a style="cursor: default;" ng-click="chngquery($parent.$index, $index)">{{query.value}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6" ng-if="!filter.checkMethod">
                                            <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.name}}</span>&nbsp;<span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="left: 15px">
                                                <li ng-repeat="hasDoneItem in hasDoneItems">
                                                    <a style="cursor: default" ng-click="changeFilterHasDone($parent.$index, $index, $event)">{{hasDoneItem.name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3" ng-if="filter.checkMethod">
                                            <input type="text" placeholder="Value" ng-model="filter.val" ng-class="{'form-control': true, 'error': filter.val.length == 0 && usersListForm.$dirty}">
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-default fa fa-times" ng-click="removeFilter(filter)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-sm-push-1">
                            <div ng-show="showErr" id="login-alert" class="alert alert-danger col-sm-12">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideErrorAlert()">&times;</button>
                                {{errMsg}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="margin-left: 20px">
                            <button class="btn btn-info" ng-click="addAnotherFilter()" ng-show="true">
                            <i class="fa fa-plus-square"></i>
                            Add Filter
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12" style="margin-left: 20px">
                            <button class="btn btn-info fa fa-toggle-right" ng-click="runQuery()" style="font-size: 16px; padding: 11px 27px">
                            Run
                            </button>
                            <button class="btn btn-info fa fa-save" ng-click="saveQuery()" style="font-size: 16px; padding: 11px 27px;" ng-show="showSaveButton">
                            Save
                            </button>
                            <div class="popover right" tabindex="-1" style="display: block; position: absolute; top: -73px; left: 236px;" ng-show="showPopover">
                                <div class="arrow"></div>
                                <h3 class="popover-title"> Save segment
                                </h3>
                                <div class="popover-content">
                                    <form name="popoverForm" ng-submit="createSegment()" novalidate>
                                        <div class="row" style="padding: 10px;">
                                            <input id="segmentName" type="text" class="form-control" name="segmentName" placeholder="Segment" ng-model="segmentName" required >
                                            <br>
                                            <button type="submit" class="btn btn-info" ng-click="createSegment()">Create</button>
                                            <button class="btn btn-info" ng-click="closePopover($event)">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info" style="min-height: 200px">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                        Segments</h3>
                    </div>
                    <div ng-show="!segmentsCreated">
                        <p class="text-center" style="padding-top: 60px;">No Segments Created.</p>
                    </div>
                    <ul class="list-group" ng-show="segmentsCreated">
                        <a href="#" class="list-group-item" ng-repeat="segname in segmentsCreatedName" ng-click="showQuery(segname.id)">{{segname.name}}</a>

                    </ul>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<div ng-show="!showUsers" class="col-md-push-2 col-md-8">
    <br>
    <br>
    <h4 class="well text-center">There are no users to be displayed. Run a query!!</h4>
</div>
<div class="row"  ng-show="showUsers">
    <div class="col-md-2">
        <p style="font-size:20px">All Users</p>
    </div>
    <div class="col-md-6 col-md-push-4">
        <div class="btn-group col-md-5">
            <button class="fa fa-envelope-o btn btn-info" ng-click="openModal()">
            <span>Message</span></button>
            <button class="fa fa-tag btn btn-info">
            <span>Tag</span></button>
        </div>
        <div class="col-md-5 col-md-push-1">
            <button type="button" class="btn btn-default btn-block dropdown-toggle"> Select Data
            <span class="caret" style="border-top-color: #333;"></span>
            </button>
            <ul class="dropdown-menu" role="menu" is-open="opened" style="margin-left: 15px;">
                <li ng-repeat="column in columns" ng-click="$event.stopPropagation();" ng-show="!$first">&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="column.visible" /> <label><span>{{column.title}}</span></label></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="panel panel-default " ng-show="showUsers">
    <div class="container">
        <div class="row">
            <div>
                <table ng-table="tableParams" show-filter="true" class="table">
                    <thead>
                        <tr>
                            <th ng-repeat="column in columns" ng-show="column.visible"
                                class="text-center" ng-class="{
                                'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                'sort-desc': tableParams.isSortBy(column.field, 'desc'),
                                'sortable': !$first
                                }"
                                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                <div>{{column.title}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="user in $data">
                        <td width="30" style="text-align: left">
                            <input type="checkbox" ng-model="checkboxes.items[user.id]" />
                        </td>
                        <td data-title="'Email Id'" class="text-center" sortable="email" ng-show="columns[1].visible">
                            <span>{{user.email}}</span>
                        </td>
                        <td data-title="'User Karma'" class="text-center" sortable="userkarma" ng-show="columns[2].visible">
                            <span>{{user.userkarma}}</span>
                        </td>
                        <td data-title="'Date Joined'" class="text-center" sortable="datejoined" ng-show="columns[3].visible">
                            <span>{{user.datejoined}}</span>
                        </td>
                        <td data-title="'Unsubscribed'" class="text-center" sortable="status" ng-show="columns[4].visible">
                            <span>{{user.unsubscribed}}</span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>