<div class="col-md-9">
    <div style="border-left: 1px solid #ecf0f1;">
        <br>
        <br>
        <br>
        <div>
            <div>
                <div class="caption-full">
                    <form name="signup_form" novalidate ng-submit="signupForm()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1 col-md-offset-1 text-center">
                                    <p style="font-size:20px">NAME &nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="name" ng-model="field" required>
                                    <br>
                                    <div class="alert alert-info text-center" ng-show="signup_form.name.$error.required" style="background-color: #d9edf7; border-color: #bce8f1; padding: 7px">
                                        <small class="error" ng-show="signup_form.name.$error.required" style="color: #31708f">
                                        Enter a name to define your segment.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-md-offset-1 text-center">
                                    <p style="font-size:20px">TYPE &nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-10">
                                    <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="segmenticon.value as segmenticon.label for segmenticon in segmenticons" bs-select style=".dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus { background-color: #7b8a8b}">
                                    Users <span class="caret"></span>
                                    </button>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div>
                            <div class="row" ng-show="true" ng-repeat="filter in filters">
                                <div class="col-md-1 col-md-offset-1 text-center">
                                    <p style="font-size:20px" ng-show="$first">FILTER</p>
                                    <a style="font-size:20px; cursor:pointer; cursor:hand" ng-show="!$first" ng-click="switchAndOr()">{{text}}</a>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.btntext}}</span>&nbsp;<span class="caret"></span></button>
                                            <!-- <button type="button" ng-class="{'btn': true, 'btn-default': true, 'dropdown-toggle': true, 'form-control': true, 'selectwidthauto': true, 'error': filter.btntext == 'Choose'}" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.btntext}}</span>&nbsp;<span class="caret"></span></button> -->
                                            <ul class="select dropdown-menu" role="select" style="left: 15px">
                                                <li class="dropdown dropdown-submenu">
                                                    <a style="cursor: default">Has done</a>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="hasDoneItem in hasDoneItems">
                                                            <a style="cursor: default" ng-click="changeFilterHasDone($parent.$index, $index, $event)">{{hasDoneItem.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown dropdown-submenu"><a style="cursor: default">Has not done</a>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="hasNotDoneItem in hasNotDoneItems"><a style="cursor: default" ng-click="changeFilterHasNotDone($parent.$index, $index, $event)">{{hasNotDoneItem.name}}</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown dropdown-submenu"><a style="cursor: default">Count of</a>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="countOfItem in countOfItems"><a style="cursor: default" ng-click="changeFilterCountOf($parent.$index, $index, $event)">{{countOfItem.name}}</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3" ng-if="filter.checkMethod">
                                            <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                            <ul class="select dropdown-menu" role="select" style="left: 15px">
                                                <li ng-repeat="query in selectedqueries">
                                                    <a style="cursor: default;" ng-click="chngquery($parent.$index, $index)">{{query.value}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6" ng-if="!filter.checkMethod">
                                            <button type="button" class="btn btn-default dropdown-toggle form-control selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.name}}</span>&nbsp;<span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="left: 15px">
                                                <li ng-repeat="hasDoneItem in hasDoneItems">
                                                    <a style="cursor: default" ng-click="changeFilterHasDone($parent.$index, $index, $event)">{{hasDoneItem.name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3" ng-if="filter.checkMethod">
                                            <input type="text" placeholder="Value" ng-model="filter.val" ng-class="{'form-control': true, 'error': filter.val.length == 0}">
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-default fa fa-times" ng-click="removeFilter(filter)"></a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4 col-sm-push-1">
                                    <div ng-show="showErr" id="login-alert" class="alert alert-danger col-sm-12">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideErrorAlert()">&times;</button>
                                        {{errMsg}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-push-1">
                                    <button type="button" class="btn btn-info" ng-click="addAnotherFilter()" ng-disabled="!field.length">
                                    <i class="fa fa-plus-square"></i>
                                    Add Filter
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <br>
                            &nbsp;&nbsp;
                            <button type="submit" class="btn btn-info" ng-disabled="!field.length">Create Segment</button>
                            <br>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>