<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div style="margin-top: 5px;">
<!-- <flash:messages></flash:messages> -->
</div>
<div class="panel">
    <div class="panel-body">
        <div class="caption-full">
            <form name="usersListForm" novalidate id="filterUsersAndRunQuery">
                <div class="col-md-8" style="margin-left: 10px;">
                    <div class="row" style="padding-left: 40px;">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" style="font-size: 20px; padding-left: 13px">List: </label>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-sm btn-default" ng-model="selectedIcon" data-html="1" ng-options="segmenticon.value as segmenticon.label for segmenticon in segmenticons" bs-select style=".dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus { background-color: #7b8a8b}">
                                All Users
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <div ng-repeat="filter in filters" ng-init="ind = $index">
                            <div class="row" style="padding-left: 40px;">
                                <br>
                                <label class="col-md-1 control-label" style="font-size:20px" ng-show="$first">Filter: </label>
                                <a style="font-size:17px; cursor:pointer; cursor:hand" ng-show="!$first" ng-click="switchAndOr()" class="col-md-1">{{text}}</a>
                                <div>
                                    <div class="col-md-11">
                                        <div class="row">
                                            <div>
                                                <div style="padding-left: 24px; float: left;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.btntext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li class="dropdown dropdown-submenu">
                                                            <a style="cursor: default" id="hasdoneQueries">Has done</a>
                                                            <ul class="dropdown-menu" style="max-height: 356px; overflow-y: scroll;">
                                                                <li ng-repeat="hasDoneItem in hasDoneItems">
                                                                    <a style="cursor: default" ng-click="changeFilterHasDone($parent.$index, $index, $event)">{{hasDoneItem.query}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown dropdown-submenu"><a style="cursor: default" id="hasnotdonequeries">Has not done</a>
                                                            <ul class="dropdown-menu" style="max-height: 356px; overflow-y: scroll;">
                                                                <li ng-repeat="hasNotDoneItem in hasNotDoneItems"><a style="cursor: default" ng-click="changeFilterHasNotDone($parent.$index, $index, $event)">{{hasNotDoneItem.query}}</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown dropdown-submenu"><a style="cursor: default" id="countOfQueries">Count of</a>
                                                            <ul class="dropdown-menu" style="max-height: 356px; overflow-y: scroll;">
                                                                <li ng-repeat="countOfItem in countOfItems"><a style="cursor: default" ng-click="changeFilterCountOf($parent.$index, $index, $event)">{{countOfItem.query}}</a></li>
                                                            </ul>
                                                        </li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li ng-repeat="attribute in attributes" ><a style="cursor: default;" ng-click="changeFilterAttribute($parent.$index, $index, $event)" id="attributeQueries">{{attribute.name}}</a></li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.showDatePicker && !filter.showOtherAttributesQuery &&
                                                    !filter.showScore && !filter.showHealthStatus && !filter.showPayingStatus && !filter.isEvent" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="query in selectedqueries">
                                                            <a style="cursor: default;" ng-click="chngquery($parent.$index, $index)">{{query.value}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.showOtherAttributesQuery" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="query in otherAttributesQuery">
                                                            <a style="cursor: default;" ng-click="changeOtherAttributesQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="!filter.checkMethod" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.query}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="dropdown-menu" style="left: auto; max-height: 356px; overflow-y: scroll;">
                                                        <li ng-repeat="hasDoneItem in hasDoneItems">
                                                            <a style="cursor: default" ng-click="changeEventFilter($parent.$index, $index, $event)">{{hasDoneItem.query}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- <div ng-if="!filter.checkMethod" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.name}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="dropdown-menu" style="left: auto; max-height: 356px; overflow-y: scroll;">
                                                        <li ng-repeat="hasDoneItem in hasDoneItems">
                                                            <a style="cursor: default" ng-click="changeFilterHasNotDone($parent.$index, $index, $event)">{{hasDoneItem.query}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                                <div ng-if="filter.checkMethod && filter.showDatePicker" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li ng-repeat="query in datePickerQueries">
                                                            <a style="cursor: default;" ng-click="chngDatePickerQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && (filter.showHealthStatus || filter.showPayingStatus)" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span></button>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.isEvent" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li ng-repeat="query in scoreQueries">
                                                            <a style="cursor: default;" ng-click="chngScoreQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.showScore" style="float:left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.optext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto;">
                                                        <li ng-repeat="query in scoreQueries">
                                                            <a style="cursor: default;" ng-click="chngScoreQuery($parent.$index, $index)">{{query.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && filter.isEvent" style="float: left; padding-left: 24px;">
                                                    <input type="text" placeholder="Value" ng-model="filter.val" class="form-control input-sm" style="width: 70px;">
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && !filter.showDatePicker && !filter.showHealthStatus && !filter.showPayingStatus" style="float: left; padding-left: 24px;">
                                                    <input type="text" placeholder="Value" ng-model="filter.val" class="form-control input-sm">
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && filter.showDatePicker" style="float: left; padding-left: 24px;">
                                                    <!-- <p class="input-group" style="width: 200px;"> -->
                                                    <!-- <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="filter.val" is-open="$parent.dateOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-weeks="false" max="maxDate" show-button-bar="false"/> -->
                                                    <span class="input-group">
                                                    <input type="text" class="form-control input-sm"  ng-model="filter.val" style="width: 70px; border-top-left-radius: 3px;
                                                    border-bottom-left-radius: 3px;
                                                    border-bottom-right-radius: 3px;
                                                    border-top-right-radius: 3px;" /> &nbsp;
                                                    days ago</span>
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && filter.showHealthStatus" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.valuetext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="healthStatus in healthStatusValuesname">
                                                            <a style="cursor: default;" ng-click="chngHealthStatus($parent.$index, $index)">{{healthStatus.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.checkMethod && !filter.isEvent && filter.showPayingStatus" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="Users">{{filter.valuetext}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="payingStatus in payingStatusValues">
                                                            <a style="cursor: default;" ng-click="chngPayingStatus($parent.$index, $index)">{{payingStatus.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-if="filter.isEvent" style="float: left; padding-left: 24px;">
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle selectwidthauto" data-toggle="dropdown"> <span data-bind="label" id="timeRangeValues">{{otherTimeRange}}</span>&nbsp;<span class="caret"></span></button>
                                                    <ul class="select dropdown-menu" role="select" style="left: auto">
                                                        <li ng-repeat="range in timeSpan">
                                                            <a style="cursor: default;" ng-click="chngrange($parent.$index, $index)">{{range.name}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div style="float: left; padding-left: 24px;">
                                                    <a class="btn btn-sm btn-default fa fa-times" ng-click="removeFilter(filter)" ng-hide="segmentClicked && $first"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4" style="margin-left: 20px">
                                <button type="button" class="btn btn-default btn-sm" ng-click="addAnotherFilter()" ng-show="true">
                                <i class="fa fa-plus-square"></i>
                                Filter
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12" style="margin-left: 20px">
                                <button type="button" class="btn btn-info btn-sm fa fa-toggle-right" ng-click="runQuery()">
                                Run
                                </button>
                                <button type="button" class="btn btn-default btn-sm fa fa-save" ng-click="saveQuery()" ng-show="showSaveButton">
                                Save
                                </button>
                                <div class="popover right" tabindex="-1" style="display: block; position: absolute; top: -73px; left: 145px;" ng-show="showPopover">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title"> Save segment
                                    </h3>
                                    <div class="popover-content">
                                        <form name="popoverForm" ng-submit="createSegment()" novalidate>
                                            <div class="row" style="padding: 10px;">
                                                <input id="segmentName" type="text" class="form-control input-sm" name="segmentName" placeholder="Segment" ng-model="segmentName" required >
                                                <br>
                                                <button type="submit" class="btn btn-info btn-sm" ng-click="createSegment()">Create</button>
                                                <button type="button" class="btn btn-default btn-sm" ng-click="closePopover($event)">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default fa fa-refresh btn-sm" ng-click="updateQuery()" ng-show="showUpdateButton">
                                Update
                                </button>
                                <img src="/images/spiffygif_30x30.gif" ng-show="showSpinner">
                                <div class="popover right" tabindex="-1" style="display: block; position: absolute; top: -73px; left: 160px;" ng-show="showUpdatePopover">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title"> Update segment
                                    </h3>
                                    <div class="popover-content">
                                        <form name="popoverForm" novalidate>
                                            <div class="row" style="padding: 10px;">
                                                <input id="segmentName" type="text" class="form-control input-sm" name="updatedSegmentName" placeholder="Segment" ng-model="updatedSegmentName" required  ng-disabled="isHealth">
                                                <br>
                                                <button type="submit" class="btn btn-info btn-sm" ng-click="updateSegment()">Update</button>
                                                <button type="button" class="btn btn-default btn-sm" ng-click="closeUpdatePopover($event)">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button  type="button" class="btn btn-default btn-sm pull-right" ng-click="clearAllFilters()" ng-show="showUpdateButton || showSaveButton">Clear
                                </button>
                                <!-- <span us-spinner></span> -->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div>
                            <div ng-show="!showUsers" class="col-md-push-2 col-md-8">
                                <br>
                                <br>
                                <h4 class="well text-center">There are no users to be displayed. Run a query!!</h4>
                            </div>
                            <div class="row"  ng-show="showUsers">
                                <div class="col-md-4" style="margin-top: 10px; margin-left: 20px;">
                                    <span class="fa fa-user">&nbsp;&nbsp;{{countUsers}} <b>users</b></span> &nbsp;&nbsp;
                                    <button type="button" class="fa fa-envelope-o btn btn-info" ng-click="openModal()">
                                    <span>Message</span></button>
                                </div>
                                <div class="col-md-6">
                                    <!-- <div class="btn-group col-md-5">
                                        <button class="fa fa-tag btn btn-info">
                                        <span>Tag</span></button>
                                    </div> -->
                                    <div class="col-md-5 col-md-push-10">
                                        <button type="button" class="btn btn-default btn-block dropdown-toggle"> Select Data
                                        <span class="caret" style="border-top-color: #333;"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" is-open="opened" style="left: auto; width: 190px;">
                                            <li ng-repeat="column in columns" ng-click="$event.stopPropagation();" ng-show="!$first">&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="column.visible" /> <label><span>{{column.title}}</span></label></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="panel panel-default" ng-show="showUsers">
                                    <div>
                                        <div>
                                            <div style="min-width: 100%; overflow-x: scroll;">
                                                <table ng-table="tableParams" show-filter="true" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                <div><input type="checkbox" ng-model="checkboxes.all"></div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[1].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('email', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('email', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('email', tableParams.isSortBy('email', 'asc') ? 'desc' : 'asc')">
                                                                <div>Email</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[2].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('status', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('status', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('status', tableParams.isSortBy('status', 'asc') ? 'desc' : 'asc')">
                                                                <div>Status</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[3].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('datejoined', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('datejoined', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('datejoined', tableParams.isSortBy('datejoined', 'asc') ? 'desc' : 'asc')">
                                                                <div>Date Joined</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[4].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('health', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('health', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('health', tableParams.isSortBy('health', 'asc') ? 'desc' : 'asc')">
                                                                <div>Health</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[5].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('lastsession', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('lastsession', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('lastsession', tableParams.isSortBy('lastsession', 'asc') ? 'desc' : 'asc')">
                                                                <div>Last Session</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[6].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('browser', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('browser', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('browser', tableParams.isSortBy('browser', 'asc') ? 'desc' : 'asc')">
                                                                <div>Browser</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[7].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('country', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('country', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('country', tableParams.isSortBy('country', 'asc') ? 'desc' : 'asc')">
                                                                <div>Country</div>
                                                            </th>
                                                            <th class="text-center" ng-show="columns[8].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('operatingsystem', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('operatingsystem', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('operatingsystem', tableParams.isSortBy('operatingsystem', 'asc') ? 'desc' : 'asc')">
                                                                <div>OS</div>
                                                            </th>

                                                            <th class="text-center" ng-show="columns[9].visible" ng-class="{
                                                                'sort-asc': tableParams.isSortBy('userkarma', 'asc'),
                                                                'sort-desc': tableParams.isSortBy('userkarma', 'desc'),
                                                                'sortable': !$first
                                                                }"
                                                                ng-click="tableParams.sorting('userkarma', tableParams.isSortBy('userkarma', 'asc') ? 'desc' : 'asc')">
                                                                <div>Engagement Score</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="user in $data" >
                                                        <td width="30" style="text-align: left">
                                                            <input type="checkbox" ng-model="checkboxes.items[user.id]" />
                                                        </td>
                                                        <td data-title="'Email Id'" class="text-center" sortable="email" ng-show="columns[1].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.email}}</span>
                                                        </td>
                                                        <td data-title="'Status'" class="text-center" sortable="status" ng-show="columns[2].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.status}}</span>
                                                        </td>
                                                        <td data-title="'Date Joined'" class="text-center" sortable="datejoined" ng-show="columns[3].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.datejoined}}</span>
                                                        </td>
                                                        <td data-title="'Health'" class="text-center" sortable="health" ng-show="columns[4].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span ng-class="{'label label-success': user.health == 'good', 'label label-danger': user.health == 'poor', 'label label-warning': user.health == 'average'}">{{user.health}}</span>
                                                        </td>
                                                        <td data-title="'Last Session'" class="text-center" sortable="lastsession" ng-show="columns[5].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.lastsession}}</span>
                                                        </td>
                                                        <td data-title="'Browser'" class="text-center" sortable="browser" ng-show="columns[6].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.browser}}</span>
                                                        </td>
                                                        <td data-title="'Country'" class="text-center" sortable="country" ng-show="columns[7].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.country}}</span>
                                                        </td>
                                                        <td data-title="'Operating System'" class="text-center" sortable="operatingsystem" ng-show="columns[8].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.os}}</span>
                                                        </td>
                                                        <td data-title="'User Karma'" class="text-center" sortable="userkarma" ng-show="columns[9].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                            <span>{{user.userkarma}}</span>
                                                        </td>

                                                        <!-- <td data-title="'Unsubscribed'" class="text-center" sortable="status" ng-show="columns[4].visible" style="cursor: pointer;" ng-click="showUserProfile(user.id)">
                                                                                                                    <span>{{user.unsubscribed}}</span>
                                                        </td> -->
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 60px;">
                    <div class="panel panel-default" style="min-height: 825px; width: 300px; overflow: auto; border-color: #bdc3c7;" id="segment">
                        <div class="panel-heading" style="color: #7b8a8b; background-color: #bdc3c7; border-color: #bdc3c7;">
                            <h3 class="panel-title" style="color: #fff;">
                            Segments</h3>
                        </div>
                        <div ng-show="!segmentsCreated">
                            <p class="text-center" style="padding-top: 60px;">No Segments Created.</p>
                        </div>
                        <ul class="list-group" ng-show="segmentsCreated">
                            <li style="padding-bottom: 2px;" class="list-group-item-segment"  ng-class="{'active': $index === selectedIndex}"  ng-repeat="segname in segmentsCreatedName" ng-mouseenter="showAutoMsgButton()" ng-mouseleave="hideAutoMsgButton()">
                                <strong>
                                <a style="padding: 10px 15px; display: inline-block; cursor: pointer; width: 150px; text-decoration: none; color: #333; word-wrap: break-word;" ng-click="showQuery(segname.id, $index, segname)" ng-if="!segname.predefined">{{segname.name}}</a>
                                </strong>
                                <a style="padding: 10px 15px; display: inline-block; cursor: pointer; text-decoration: none; color: inherit;" ng-click="showQuery(segname.id, $index, segname)" ng-if="segname.predefined" >
                                <span style="font-size: 14px;" class="fa fa-smile-o" ng-if="segname.name == 'Good Health'"><strong>&nbsp;&nbsp;{{segname.name}}</strong></span>
                                <span style="font-size: 14px;" class="fa fa-meh-o" ng-if="segname.name == 'Average Health'"><strong>&nbsp;&nbsp;{{segname.name}}</strong></span>
                                <span style="font-size: 14px;" class="fa fa-frown-o" ng-if="segname.name == 'Poor Health'"><strong>&nbsp;&nbsp;{{segname.name}}</strong></span>
                                </a>
                                <!-- <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 140px; background-color: #5cb85c; border-radius: 4px;" ng-if="segname.name == 'Good Health'">
                                                                        <span class="progress-type"><strong>{{segname.name}}</strong></span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 140px; background-color: #428bca; border-radius: 4px;" ng-if="segname.name == 'Average Health'">
                                                                        <span class="progress-type"><strong>{{segname.name}}</strong></span>
                                                                </div>
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 140px; background-color: #d9534f; border-radius: 4px;" ng-if="segname.name == 'Poor Health'">
                                                                        <span class="progress-type"><strong>{{segname.name}}</strong></span>
                                </div> -->
                                <a class="btn btn-sm btn-default pull-right" href="/apps/{{currApp}}/automessage/segments/{{segname.id}}/write" style="margin-top: 5px;" ng-show="showAutoMsgBtn">AutoMessage</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>
