<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- <div id="affixMe" affix="" ng-class="{affix: affixed}" ng-style="offset" relative-to="affix-demo"> -->
                    <div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="http://placehold.it/320x200"
                                alt="" class="img-rounded img-responsive" style="height:150px" />
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <br>
                                <blockquote>
                                    <p>{{user.name}}</p> <small><cite title="Source Title">Ahmedabad, India  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                    <small><cite title="Source Title">{{user.email}} <i class="glyphicon glyphicon-envelope"></i></cite></small>
                                </blockquote>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info" ng-click="openMessageModal()">Message</button>
                                    <button type="button" class="btn btn-info" ng-click="openNoteModal()">Note</button>
                                    <button type="button" class="btn btn-info">Tag</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="col-md-push-3 col-md-8"><b>Recent Activity</b></h3>
                    <div class="col-md-push-3 col-md-8" id="affix-demo">
                        <br>
                        <p><em>{{eventDate}}</em></p>
                        <p ng-show="!showEvents">There was no activity for {{eventDate}}</p>
                        <ul class="list-group" ng-show="showEvents">
                            <li class="list-group-item list-group-item-success" ng-repeat="event in events">
                                <span>{{event.name}}</span>
                                <em class="pull-right">{{event.when}}</em>
                            </li>
                        </ul>
                        <div class="text-center">
                            <button class="btn btn-default btn-sm text-center" ng-click="showEventNextDate()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div style="width:1080px"><hr>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-5">
                    <div class="panel panel-default" style="height: 200px;">
                        <div class="panel-body">
                            <p> Pulse: {{user.healthScore}}/100</p>
                            <p> Plan: {{user.plan}}</p>
                            <p> Plan Value: {{user.currency}} {{user.planValue}}</p>
                            <!-- <p> Renewal: {{renewal}}</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-md-offset-1">
                    <div class="panel panel-default" style="height: 200px;">
                        <div class="panel-body">
                            <p> First Seen: {{user.firstSeen}}</p>
                            <p> Last Seen: {{user.lastSeen}}</p>
                            <p> Country: {{country}}</p>
                            <p> Platform: {{os}}</p>
                            <p> Browser: {{browser}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="panel panel-default" style="height: 250px;">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" ng-show="msgs.length == 0">
                                    <em><h4><strong>Latest Conversations</strong></h4></em>
                                    <br>
                                    <br>
                                    <br>
                                    <em><h4>No conversations with {{user.email}}</h4></em>
                                </div>
                                <div class="row" ng-show="msgs.length">
                                    <em><h4><strong>Latest Conversations</strong></h4></em>
                                    <br>
                                    <div class="col-md-4" style="margin-left: 15px">
                                        <table class="table table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Sub</th>
                                                    <th class="text-center">When</th>
                                                    <th class="text-center">Opened</th>
                                                    <th class="text-center">Replied</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" ng-repeat="msg in msgs">
                                                    <td ng-click="redirectToConversation(msg.id)" style="cursor: pointer;">{{msg.sub}}</td>
                                                    <td ng-click="redirectToConversation(msg.id)" style="cursor: pointer;">{{msg.when}}</td>
                                                    <td ng-click="redirectToConversation(msg.id)" style="cursor: pointer;">
                                                        <span class="glyphicon glyphicon-ok" ng-show="{{msg.opened}}"></span>
                                                        <span class="glyphicon glyphicon-remove" ng-show="{{!msg.opened}}"></span>
                                                    </td>
                                                    <td ng-click="redirectToConversation(msg.id)" style="cursor: pointer;">
                                                        <span class="glyphicon glyphicon-ok" ng-show="{{msg.replied}}"></span>
                                                        <span class="glyphicon glyphicon-remove" ng-show="{{!msg.replied}}"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-md-offset-1">
                    <div class="panel panel-default" style="height: 250px;">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row" ng-show="notes.length == 0">
                                    <em><h4><strong>Notes for {{user.email}}</strong></h4></em>
                                    <br>
                                    <br>
                                    <br>
                                    <em><h4>No notes created</h4></em>
                                </div>
                                <div class="row" ng-show="notes.length">
                                    <em><h4><strong>Notes created for Savinay</strong></h4></em>
                                    <br>
                                    <div class="col-md-4" style="margin-left: 15px">
                                        <table class="table table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Text</th>
                                                    <th class="text-center">When</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="note in notes">
                                                    <td class="text-center">{{note.text}}</td>
                                                    <td class="text-center">{{note.when}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="panel panel-default" style="height: 250px;">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <em><h4><strong>Features used recently</strong></h4></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-md-offset-1">
                    <div class="panel panel-default" style="height: 250px;">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <em><h4><strong>Pulse</strong></h4></em>
                                    <div class="col-md-4">
                                        <!-- line chart is commented. Please FIX THIS #TODO -->
                                        <!-- <nvd3-line-chart data="exampleData"  id="showXAxisExample" width="550" height="300" xAxisTickFormat="xAxisTickFormatFunction()" yAxisTickFormat="yAxisTickFormatFunction()" showXAxis="true" showYAxis="false"><svg></svg>
                                        </nvd3-line-chart> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>