/*code for sticky footer*/

html,
body {
  height: 100%;
}


/*Placeholder Font Color*/
/*.form-control:-moz-placeholder {
    color: #000000;
}
.form-control::-moz-placeholder {
    color: #000000;
}*/

::-webkit-input-placeholder {
    color: #000000;
}
:-moz-placeholder {
    color: #000000;
}
::-moz-placeholder {
    color: #000000;
}
:-ms-input-placeholder {
    color: #000000;
}
/*Placeholder Font Color*/

/* Remove box-shadow from focussed inputs */
.form-control:focus {
  box-shadow: none;
  border-width: 1px;
}

/*code for sticky footer ends*/

.navbar-brand {
  font-size: 28px;
  /*color: #2c3e50;*/
}

/*remove bottom margin from navbar*/
.navbar-modified{
  margin-bottom: 0;
}

/*container-content creates padding-top for the block partial*/
.container-content {
  padding-top: 20px;
}

/*remove bottom-margin on alert-bar*/
.alert-bar {
  margin-bottom: 0;
  /*font-weight: bold;*/
}

#navbar-logout-btn {
  color: #df2e1b;
  background-color: #fff;
  border-color: #df2e1b;
}


#navbar-login-btn {
  color: #3498DB;
  background-color: #fff;
  border-color: #3498DB;
}


/* jumbotron with background image used on header of benefits and features pages */
.jumbotron-page-header {
  background-color: #29333a;
  color: #fff;
  background: url(/images/landing_page_img/userjoy_homepage_img.png) no-repeat center 0px;
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
}


.img-feature {
  border: 1px solid #bdc3c7;
  border-radius: 10px;
}

.banner-get-started {
  padding: 50px 0;
  color: #f8f8f8;
  background-color: #34495E;
  background-size: cover;
}


.banner-guide-user {
  padding: 20px 0;
  color: #f8f8f8;
  background-color: #C5EFF7;
  background-size: cover;
}
