<!-- TODO: Add template for Forgot Password -->
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style="border-color: #bce8f1">
            <div class="panel-heading" style="background-color: #d9edf7; border-color: #bce8f1">
                <div class="panel-title" style="color:#31708f">Request password reset</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <form name="loginform" class="form-horizontal" role="form" ng-submit="forgotPassword()" novalidate>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="email" class="form-control" name="username" value="" placeholder="Enter your Email" ng-model="email" required>
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button id="btn-login" href="#" class="btn btn-block btn-info" type="submit" ng-disabled="loginform.$invalid">Request password reset</button>
                            <div style="font-size: 80%; position: relative;" class="text-center"><a ui-sref="login">Remembered your password? Login here</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>