<div ng-include src="'/templates/navbar/loginForgot.html'"></div>
<div class="container">
    <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style="border-color: #bce8f1">
            <div class="panel-heading" style="background-color: #d9edf7; border-color: #bce8f1">
                <div class="panel-title" style="color:#31708f">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px; color:#31708f"><a ui-sref="forgotPassword">Forgot password?</a></div>
            </div>
            <div class="text-center" style="padding-top:15px; font-size: 20px;"><strong>Welcome back!</strong></div>
            <div style="padding-top:30px" class="panel-body" >
                <!-- <div ng-show="showError" id="login-alert" class="alert alert-danger col-sm-12">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideErrorAlert()">&times;</button>
                    {{errMsg}}
                </div> -->
                <form name="loginform" class="form-horizontal" role="form" novalidate>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="email" class="form-control" name="username" value="" placeholder="Email" ng-model="email" required>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required>
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button id="btn-login" href="#" class="btn btn-info" type="submit" ng-disabled="loginform.$invalid" ng-click="attemptLogin()">Login  </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account!
                                <!-- TODO: change href in production -->
                                <a href="http://do.localhost/signup">
                                Sign Up Here
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>