<div ng-include src="'/templates/navbar/loginForgot.html'"></div>
<div>
    <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style="border-color: #bce8f1">
            <div class="panel-heading text-center" style="background-color: #d9edf7; border-color: #bce8f1">
                <div class="panel-title" style="color:#31708f" >Reset Password</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <form name="resetPasswordform" class="form-horizontal" role="form" novalidate>
                    <div ng-show="!(newPassword.length > 7 && repeatPassword.length > 7)" class="alert alert-info alert-dismissable">
                        New Password should be atleast 8 characters long
                    </div>
                    <div style="margin-bottom: 25px">
                        <input id="newPassword" type="password" class="form-control" name="newPassword" value="" placeholder="New Password" ng-model="newPassword" ng-minlength="8" required>
                    </div>
                    <div style="margin-bottom: 25px">
                        <input id="repeatPassword" type="password" class="form-control" name="repeatPassword" placeholder="Repeat Password" ng-model="repeatPassword" ng-minlength="8" required>
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button id="btn-login" href="#" class="btn btn-info btn-block text-center" type="submit" ng-disabled="resetPasswordform.$invalid" ng-click="resetPasswordNew()">Change Password  </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>