<div id="content">
    <div style="background-color: #ecf0f1;">

        <div class="container">

            <div class="row">
                <br>
                <h3 class="text-center">What people say about UserJoy.co</h3>
                <br>
            </div>



            <div class="row">


                <div class="col-sm-9 col-md-8 col-md-offset-1">
                    <blockquote>
                        <p>

                            <span style="font-size: 2em">"</span>We use UserJoy to constantly monitor our users' engagement and account health. We can now easily identify trial prospects and upsell opportunities. Our whole team proactively communicates with users, with the full context of an user's activity, at the right time.

                        </p>
                        <br>
                        <p>
                            <strong>We have increased our trial conversions by 27% since integrating UserJoy.</strong>
                        </p>
                        <br>
                        <p>
                            Trial conversion and upselling has now become a process in our company.
                        </p>
                        <p>
                            Its a must-use tool for all SaaS companies.<span style="font-size: 2em">"</span>
                        </p>
                    </blockquote>
                </div>

                <div class="col-sm-3 col-md-3 text-center">
                    <br>
                    <br>
                    <img class="img-circle" src="images/landing_page_img/yash_testimonial.jpg">
                    <br>
                    <br>
                    <small style="color: #7f8c8d">Yash Shah<br> CEO, <a id="gridle-testimonial-link" href="http://gridle.io" target="_blank"><span style="color: #7f8c8d">Gridle.io</span></a></small>
                </div>

            </div>


        </div>
        <br>
        <br>
        <br>


    </div>
</div>
