<% include nav.ejs %>
<div class="row" style="padding-top:90px">
    <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
            <div class="row">
                <form id="contact-form">
                    <fieldset>
                        <div class="lead">
                            Send us your query / feedback below
                            <br>
                            <br>
                            <div id="contact-us-error" class="alert alert-danger" style="display: none; color: #a94442; background-color: #f2dede; border-color: #ebccd1;">
                                <button type="button" class="close" aria-hidden="true" onclick="closeErrMsgContact()">&times;</button>
                                <p><strong>Error</strong> :
                                <span id="errortext"></span>
                                </p>
                            </div>
                            <div id="contact-us-success" class="alert alert-success" style="display: none; background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;">
                                <button type="button" class="close" aria-hidden="true" onclick="closeSuccessMsgContact()">&times;</button>
                                <p><strong>We have received your message. We will get back to you ASAP.</strong>
                                </p>
                            </div>
                            <input id="email-contact-form" type="email" name="email" placeholder="Your email address *" required autofocus="" class="input-lg form-control">
                        </div>
                        <div class="form-group">
                            <textarea id="message-contact-form" type="text" rows="3" name="message" placeholder="Your message ..... *" required class="input-lg form-control"></textarea>
                        </div>
                        <input id="contact-form-submit" type="submit" value="Send Message" class="btn btn-success btn-lg btn-block">
                    </fieldset>
                </form>
            </div>
            <!--<div id="wufoo-m1b5ejyl0w0p7y4">
                                                                Fill out my <a href="https://userjoy.wufoo.com/forms/m1b5ejyl0w0p7y4">online form</a>.
                                                </div>
                                                <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
            <script type="text/javascript">var m1b5ejyl0w0p7y4;(function(d, t) {
                                                var s = d.createElement(t), options = {
                                                'userName':'userjoy',
                                                'formHash':'m1b5ejyl0w0p7y4',
                                                'autoResize':true,
                                                'height':'437',
                                                'async':true,
                                                'host':'wufoo.com',
                                                'header':'show',
                                                'ssl':true};
                                                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                                                s.onload = s.onreadystatechange = function() {
                                                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                                                try { m1b5ejyl0w0p7y4 = new WufooForm();m1b5ejyl0w0p7y4.initialize(options);m1b5ejyl0w0p7y4.display(); } catch (e) {}};
                                                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>-->
            <hr>
            <br>
            <br>
        </div>
        <div class="row">
            <address>
            <strong>
            M87 Technologies Pvt. Ltd.(UserJoy)
            </strong>
            <br>
            <span>
            Centre for Innovation Incubation and Entrepreneurship,
            </span>
            <br>
            <span>
            Indian Institute of Management (IIM), New Campus, Vastrapur,
            </span>
            <br>
            <span>
            Ahmedabad - 380015
            </span>
            <br>
            <span>
            Gujarat, INDIA
            </span>
            <br>
            <a href="mailto:support@userjoy.co?Subject=UserJoy Support">
            support@userjoy.co
            </a>
            </address>
        </div>
    </div>
</div>
<div class="row" style="padding-top:50px;">
</div>
<% include footer.ejs %>
