<% include nav.ejs %>
<div class="jumbotron jumbotron-page-header">
    <div class="container text-center">
        <br>
        <h2>
            <strong>Improve customer engagement and retention</strong>
        </h2>
        <br>
    </div>
</div>

<!-- /.intro-header -->
<div id="content">


    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify risk users</h2>
                    <p>Which of your paying customers are not engaging with the product anymore ?

                    Identify these users upfront and reach out to them with emails to get them back to using your product.
                    </p>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/risk-users.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/activity-feed.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">See what users are doing in your app</h2>
                    <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, every button-click, link-click and form-submission with an 'id' attribute.

                    See what each of your users is doing in your app, in realtime.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>




    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find your most / least engaged users</h2>
                    <p>
                      UserJoy assigns a score (0-100) to all your users, which helps you identify the most/least engaged users on your app.
                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/engagement-score.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/account-health.png" alt="Monitor account health metrics for all your users">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Monitor account health metrics</h2>
                    <p>
                      UserJoy assigns a health status (Good / Average / Poor) to all your users. Customize the health segments based on your app's requirements.

                      <br>
                      <br>

                      e.g. you may define "any user who has logged in more that 5 times last week, and has engagement score greater than 30, is in Good Health".
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Send messages based on user behaviour</h2>
                    <p>

                        Send manual messages to a user, or a segment of users at once. Auto-trigger messages to users belonging to a segment.
                        <br>
                        <br>
                        For example, send a 'retention' email to all your risk users.
                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/send-messages.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="banner-guide-user">
        <div class="container">

            <div class="row text-center">

                <a href="/convert" class="btn btn-info pull-left">
                    &larr; Convert Trial Users
                </a>


                <a href="/monetize" class="btn btn-info pull-right">
                    Monetize Customers &rarr;
                </a>

            </div>
        </div>
    </div>


</div>

<% include _get_started.ejs %>
<% include footer.ejs %>
