<% include nav.ejs %>


<div class="jumbotron jumbotron-page-header">
    <div class="container text-center">
        <br>
        <h2>
            <strong>Convert more free / trial accounts to paid accounts</strong>
        </h2>
        <br>

    </div>
</div>

<!-- /.intro-header -->
<div id="content">

    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify hot trials</h2>
                    <p class="">Identify trial users who are serious about using your product. Focus your efforts on converting these hot trials onto paying customers.</p>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/hot-trials.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">


                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="images/screenshots/drip-campaign.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Set up drip campaigns to onboard new users</h2>

                    <p>
                    Generate engagement for new users by creating drip email campaigns:
                    <br>
                    <ul>
                        <li>Trial Follow Up : 1 Day - Welcome Email</li>
                        <li>Trial Follow Up : 3 Day : Introduce New Feature</li>
                        <li>Trial Follow Up : 7 Day : Ask For Feedback</li>
                    </ul>



                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify bottlenecks in your onboarding process</h2>
                    <p>

                        Find trial / free users who are facing problems using your product. Reach out to them with help messages.

                        <br>
                        <br>


                        Run 'has-done' and 'has-not-done' queries to find users who are stuck at a specific point in your 'customer journey'.

                        <br>
                        <br>

                        e.g. "Users who have created a new team but have not invited team members"

                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/onboarding-bottleneck.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->



    <div class="banner-guide-user">
        <div class="container">

            <div class="row text-center">

                <a href="/" class="btn btn-info pull-left">
                    &larr; Home
                </a>


                <a href="/retain" class="btn btn-info pull-right">
                    Retain Customers &rarr;
                </a>

            </div>
        </div>
    </div>

</div>

<% include _get_started.ejs %>
<% include footer.ejs %>
