<% include nav.ejs %>


<div class="jumbotron jumbotron-page-header">
    <div class="container text-center">
        <h3>
            <strong>Convert more users from free and trial accounts to paid accounts</strong>
        </h3>
    </div>
</div>

<!-- /.intro-header -->
<div id="content">

    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify hot trials</h2>
                    <p class="">Identify trial users who are serious about using your product. Focus your efforts on converting these hot trials onto paying customers.</p>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/hot-trials.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">


                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="images/screenshots/drip-campaign.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Set up drip campaigns to onboard new users</h2>
                    <p>Auto-trigger notifications/emails to users belonging to a segment. Pop-up a 'new feature' notification or send a 'new release' email to the right users at the right time.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify bottlenecks in your onboarding process</h2>
                    <p>

                        Find trial / free users who are facing problems using your product. Reach out to them with help messages.

                        <br>
                        <br>


                        Run 'has-done' and 'has-not-done' queries to find users who are stuck at a specific point in your 'customer journey'.

                        <br>
                        <br>

                        e.g. "Users who have created a new team but have not invited team members"

                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/onboarding-bottleneck.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="banner">
        <div class="container text-center">
            <div class="row">
                <h3>Getting started takes less than 10 minutes</h3>

                <br>

                <p style="color: #bdc3c7">

                Our simple JavaScript SDK is <strong>less than 15 lines of code</strong>.

                <br>

                Even if you get stuck, our smart and fast support team can help at no extra cost.

                </p>
                <br>

                <a href="/signup" class="btn btn-primary btn-lg btn3d">
                    Start Free Trial
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <a href="/retain" class="btn btn-success btn3d">
                    Learn More
                    <br>
                    <small>( Retain Customers )</small>
                </a>

            </div>
        </div>
        <!-- /.container -->
    </div>


<!-- /.banner -->
</div>
<% include footer.ejs %>
