<% include nav.ejs %>
<div class="jumbotron jumbotron-page-header">
    <div class="container text-center">
        <h3>
            <strong>Monetize existing customers by increasing renewals, upsells and referrals</strong>
        </h3>
    </div>
</div>


<div id="content">

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify customer evangelists</h2>
                    <p>Identify your customer evangelists and reach out to them for case studies and testimonials.
                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/customer-evangelists.png" alt="Auto Track User Activity, User Profile">
                </div>

            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/upsell-opportunity.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify upsell and cross-sell opportunities</h2>
                    <p>UserJoy assigns a score (0-100) to all your users, which tells you which of your users are engaging the most / least with your app.

                    UserJoy calculates an engagement score for all your users - a score that helps you identify the most/least engaged users on your app.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Drive engagement for new features</h2>
                    <p>Launching a new feature? Introduce it to a small segment of your users initially, talk to these users about their experience, and then introduce it to all your users.
                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/new-features.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

</div>
<div class="banner">
    <div class="container text-center">
        <div class="row">
            <h3>Getting started takes less than 10 minutes</h3>

            <br>

            <p style="color: #bdc3c7">

            Our simple JavaScript snippet is <strong>less than 15 lines of code</strong>.

            <br>

            Even if you get stuck, our smart and fast support team can help at no extra cost.

            </p>
        </div>

        <div class="row">

            <a href="/signup" class="btn btn-primary btn-lg btn3d">
                Start Free Trial
            </a>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="/product" class="btn btn-success btn-lg btn3d">
                Take a Tour
            </a>

        </div>
    </div>
    <!-- /.container -->
</div>
<% include footer.ejs %>
