<footer>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="copyright text-muted small" style="color: #b4bcc2">&copy;2014 M87 Technologies. All Rights Reserved</p>
        </div>
        <div class="col-md-9">
            <p class="copyright text-muted-small pull-right" style="color: #222">
            <a href="http://blog.dodatado.com/"  style="color: #7f8c8d"> Blog </a>  <span style="color: #7f8c8d">|</span>  <a href="https://twitter.com/userjoyco" style="color: #7f8c8d">Twitter</a>  <span style="color: #7f8c8d">|</span>  <a href="/legal/terms" style="color: #7f8c8d">Terms of Service</a>  <span style="color: #7f8c8d">|</span>  <a href="/legal/privacy" style="color: #7f8c8d">Privacy Policy</a>  <span style="color: #7f8c8d">|</span>  <a href="/legal/refund" style="color: #7f8c8d"> Refund Policy </a>  <span style="color: #7f8c8d">|</span>  <a href="/contact" style="color: #7f8c8d"> Contact </a> <span style="color: #7f8c8d">|</span>  <a href="/pricing" style="color: #7f8c8d"> Pricing </a>
            </p>
        </div>
    </div>
</div>
</footer>