<footer>
    <div class="container">
        <div class="row">


            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <strong>Benefits</strong>
                    </li>
                    <br>
                    <li>
                        <a href="/convert">Convert Trial Users</a>
                    </li>
                    <li>
                        <a href="/retain">Retain Customers</a>
                    </li>
                    <li>
                        <a href="/monetize">Monetize Customers</a>
                    </li>
                </ul>
            </div>


            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <strong>Product</strong>
                    </li>
                    <br>
                    <li>
                        <a href="/product">Tour</a>
                    </li>
                    <li>
                        <a href="https://app.userjoy.co/demo" target="_blank">Demo</a>
                    </li>
                    <li>
                        <a href="https://app.userjoy.co/">Login</a>
                    </li>
                    <li>
                        <a href="http://docs.userjoy.co/">Documentation</a>
                    </li>
                    <li>
                        <a href="/pricing">Pricing</a>
                    </li>
                </ul>
            </div>


            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <strong>Legal</strong>
                    </li>
                    <br>
                    <li>
                        <a href="/legal/terms">Terms of Service</a>
                    </li>
                    <li>
                        <a href="/legal/privacy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/legal/refund">Refund Policy</a>
                    </li>
                </ul>
            </div>


            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <strong>Community</strong>
                    </li>
                    <br>
                    <li>
                        <a href="http://blog.userjoy.co/">Blog</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/userjoyco">Twitter</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

        <br>

        <div class="row text-center">
            <p class="copyright text-muted small" style="color: #7f8c8d">&copy;2014 M87 Technologies. All Rights Reserved.</p>
        </div>
    </div>
</footer>
