<% include nav.ejs %>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="intro-message">
                <!-- <h1>Landing Page</h1> -->
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 style="text-shadow: -2px -2px 5px rgba(0,0,0,0.6);
                    line-height: 1.3;">Everything you need to understand your users and communicate personally with them</h2>
                    <br>
                    <!-- <br> -->
                    <hr class="intro-divider">
                    <br>
                    <!-- <br> -->
                    <div>
                        <h3 style="display: inline-block;">Do you run a SaaS business ?</h3>
                        &nbsp;&nbsp;
                        <a href="https://dodatado.wufoo.com/forms/userjoy-account-registration/" class="btn btn-success btn-lg" style="display: inline-block;">Sign Up</a>
                    </div>
                    <!-- <div class="col-md-4">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<div id="content">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Understand user happiness</h2>
                        <p class="lead">UserJoy calculates a <strong>User Karma</strong> for all your users - a score that helps you identify high risk customers and users who are ready to buy or upgrade</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/crop_happy_face.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class = "col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/segment_users_grayed.jpg" alt="" style="margin-top: 20px">
                    </div>
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Segment your users</h2>
                        <p class="lead">Slice and dice your users based on User Karma, Engagement, Plan Value and their Account Status (whether they are onboarding, established, renewing or at risk)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Communicate personally</h2>
                        <ul class="lead">
                            <li>
                                Broadcast notifications to all your users or just a segment
                            </li>
                            <li>
                                Easily view conversation history with a user
                            </li>
                            <li>
                                Sentiment analysis: Learn the emotions of your users
                            </li>
                            <li>
                                Auto-trigger messages based on user account activity
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/personal_communication.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/insights_critical.jpg" alt="" style="margin-top: 30px">
                    </div>
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Get insights critical to your business</h2>
                        <ul class="lead">
                            <li>
                                Which new users need more training or onboarding assistance?
                            </li>
                            <li>
                                Which users are power users and ready for advanced features?
                            </li>
                            <li>
                                What renewals are at risk ?
                            </li>
                            <li>
                                Which customers are ready to buy this month?
                            </li>
                            <li>
                                Find your happiest users to help evangelize your product
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <a href="https://dodatado.wufoo.com/forms/userjoy-account-registration/" class="btn btn-default btn-lg" style="background-color:#1abc9c; color:#fff">
                <i class="fa fa-share"></i>
                &nbsp;&nbsp;Sign Up</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>