<% include nav.ejs %>
<div class="jumbotron intro-jumbotron">
    <div class="container text-center">
        <h2 style="font-size: 44px;">
          <strong>Drive more subscription revenue</strong>
        </h2>
        <p style="font-size: 20px;">
          Increase trial conversions, identify upsell opportunities, and reduce churn
        </p>
        <br>
        <br>
        <br>

        <a href="/signup" class="btn btn-success btn-lg btn3d">Start Free Trial</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/convert" class="btn btn-info btn-lg btn3d">Learn More</a>
        <br>
        <br>
        <!-- <small>No credit card required!</small> -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-user"></span>
                <div class="caption">
                    <h3>Convert Trial Users</h3>
                    <p>
                        Identify onboarding bottlenecks. Rapidly demonstrate value to users.
                    </p>

                    <br>

                    <p>
                        <a href="/convert">Learn more</a>
                    </p>


                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-envelope"></span>
                <div class="caption">
                    <h3>Retain Customers</h3>
                    <p>
                        Measure user engagement. Monitor account health status. Proactively communicate. Identify causes of churn.
                    </p>

                    <br>

                    <p>
                        <a href="/retain">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-signal"></span>
                <div class="caption">
                    <h3>Monetize Customers</h3>
                    <p>
                        Identify customer evangelists. Reach out for case studies and testimonials. Identify upsell and cross-sell opportunities.
                    </p>

                    <br>

                    <p>
                        <a href="/monetize">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include _testimonial.ejs %>


<div class="banner-get-started">
    <div class="container text-center">
        <div class="row">
            <h3>Getting started takes less than 10 minutes</h3>

            <br>

            <p style="color: #bdc3c7">

            Our simple JavaScript snippet is <strong>less than 15 lines of code</strong>.

            <br>

            Even if you get stuck, our smart and fast support team can help at no extra cost.

            </p>
            <br>
        </div>

        <div class="row">

            <a href="/signup" class="btn btn-success btn-lg btn3d">
                Start Free Trial
            </a>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="/convert" class="btn btn-info btn3d">
                Learn More
                <br>
                <small>( Convert Trial Users )</small>
            </a>


        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
