<% include nav.ejs %>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="intro-message">
                <!-- <h1>Landing Page</h1> -->
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 style="text-shadow: -2px -2px 5px rgba(0,0,0,0.6);
                    line-height: 1.3;">Increase trial conversions, identify upsell opportunities and reduce churn</h2>
                    <br>
                    <!-- <br> -->
                    <!-- <hr class="intro-divider">
                    <br> -->
                    <!-- <br> -->
                    <div>
                        <!-- <h3 style="display: inline-block;">Do you run a SaaS business ?</h3>
                        &nbsp;&nbsp; -->
                        <a href="/signup" class="btn btn-success btn-lg navbar-btn"><strong>GET STARTED FOR FREE</strong></a>
                    </div>
                    <!-- <div class="col-md-4">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-user"></span>
                <div class="caption">
                    <h3>Increase Conversions</h3>
                    <p>Identify users who are stuck in your onboarding process, and proactively reach out to them with help messages. Identify trial users who are serious about buying your product and target them with the right messages.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-envelope"></span>
                <div class="caption">
                    <h3>Improve Engagement</h3>
                    <p>Identify which of your customers are in Good, Bad or Average health.
                    Automate messages to drive engagement for new features, and retain less engaged users. Enable your product, marketing, sales and support teams to engage with your customers in a more meaningful way.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-signal"></span>
                <div class="caption">
                    <h3>Grow Revenue</h3>
                    <p>Identify your customer evangelists and reach out to them for case studies and testimonials. Increase renewals, upsells and referrals.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.intro-header -->
<div id="content">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <img class="img-responsive" src="images/landing_page_img/autotrackuserprofile.png" alt="Auto Track User Activity, User Profile" style="margin-top: 45px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                    <div class="col-md-4" style="padding-left: 40px;">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">See what your users are doing in real time</h2>
                        <h4><b>Auto-track user activity</b></h4>
                        <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, and every button-click, link-click and form-submission with an id attribute.</p>
                        <br>
                        <h4><b>Get a 360 &deg; user profile view</b></h4>
                        <p>Quickly go through each user's profile page to see their recent activity, how engaged they are, health status, paying status and bunch of other attributes. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class = "col-md-12">
                    <div class="col-md-4">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Understand your users</h2>
                        <h4><b>User Segmentation</b></h4>
                        <p>Slice and dice your users based on the activity that your users have or have not done in your app. You can also filter them based on a host of other parameters like engagement score, health status, plan Value, account Status, and a host of other parameters</p>
                        <br>
                        <h4><b>User Health Segments</b></h4>
                        <p>UserJoy calculates an engagement score for all your users - a score that helps you identify the most/least engaged users on your app.</p>
                        <p>Also define good/average/poor health segments based on engagement score, activity, and other metrics defined above</p>
                    </div>
                    <div class="col-md-8" style="padding-right: 40px;">
                        <img class="img-responsive" src="images/landing_page_img/segmentation.gif" alt="Increase Trial Conversion. Reduce churn" style="margin-top: 20px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                        <!-- <video>
                          <source src="http://do.localhost/images/landing_page_img/userprofile.mp4" type="video/mp4">
                        </video> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <img class="img-responsive" src="images/landing_page_img/conversationthread_notification.png" alt="Understand your users. Send in app messages" style="margin-top: 70px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                    <div class="col-md-4" style="padding-left: 40px;">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Send in-app notifications & emails based on user activity/behaviour</h2>
                        <p>Auto-trigger notifications/emails to users belonging to a segment. Pop-up a 'new feature' notification or send a 'new release' email to the right users at the right time.</p>
                        <p>Get a complete view of user's profile while sending messages to them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Provide better support together</h2>
                        <p>
                        Invite your team members to Userjoy and work together to provide better experience to your customers.</p>
                        <p>
                        Assign messages to the right member to make sure that right people handle every message
                        </p>
                    </div>
                    <div class="col-md-8" style="padding-left: 40px;">
                        <img class="img-responsive" src="images/landing_page_img/team1.gif" alt="Increase Trial Conversion. Reduce churn" style="margin-top: 40px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #ecf0f1; padding: 100px 0;">
        <div>
            <div class="row">
                <h3 class="text-center">Our customers love us!</h3>
                <br>
                <br>
                <blockquote>
                    <div class="col-sm-3 col-md-3 col-md-offset-1 text-center">
                        <img class="img-circle" src="images/landing_page_img/yash_testimonial.jpg">
                    </div>
                    <div class="col-sm-9 col-md-6">
                        <p>

                            We use UserJoy to constantly monitor our users' engagement and account health. We can now easily identify trial prospects and upsell opportunities. Our whole team proactively communicates with users, with the full context of an user's activity, at the right time.

                        </p>
                        <br>
                        <p>
                            <strong>We have increased our trial conversions by 27% since integrating UserJoy.</strong>
                        </p>
                        <br>
                        <p>

                            Trial conversion and upselling has now become a process in our company. Its a must-use tool for all SaaS companies.
                        </p>
                        <small style="color: #7f8c8d">Yash Shah, CEO and Co-Founder, <a id="gridle-testimonial-link" href="http://gridle.io" target="_blank">Gridle.io</a></small>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="container text-center">
        <div class="row">
            <h4 style="display: inline-block">Our JavaScript SDK is <strong>less than 15 lines of code</strong> and takes <strong>only 10 minutes to integrate.</strong>&nbsp;&nbsp;</h4>
            <a href="/signup" class="btn btn-success btn-lg navbar-btn" style="display: inline-block">
            <strong>GET STARTED FOR FREE</strong>
            </a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
