<% include nav.ejs %>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="intro-message">
                <!-- <h1>Landing Page</h1> -->
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 style="text-shadow: -2px -2px 5px rgba(0,0,0,0.6);
                    line-height: 1.3;">Auto-track what users are doing on your app, and communicate personally with them</h2>
                    <br>

                    <!-- <br> -->
                    <hr class="intro-divider">
                    <br>
                    <!-- <br> -->
                    <div>
                        <h3 style="display: inline-block;">Do you run a SaaS business ?</h3>
                        &nbsp;&nbsp;
                        <a href="/signup" class="btn btn-success btn-lg" style="display: inline-block;">Sign Up</a>
                    </div>
                    <!-- <div class="col-md-4">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<div id="content">

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/crop_happy_face.jpg" alt="" style="margin-top: 20px">
                    </div>
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Auto-track user activity</h2>
                        <p class="lead">UserJoy automatically tracks activity for all your signed-up users - every pageview, and every button-click, link-click and form-submission with an id attribute</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Understand user engagement</h2>
                        <p class="lead">UserJoy calculates an <strong>Engagement Score</strong> for all your users - a score that helps you identify high risk customers and users who are ready to buy or upgrade</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/crop_happy_face.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class = "col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/segment_users_grayed.jpg" alt="" style="margin-top: 20px">
                    </div>
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Segment your users</h2>
                        <p class="lead">Slice and dice your users based on Engagement Score, Health. Plan Value, Account Status, and a host of other parameters</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">User Health Segments</h2>
                        <p class="lead">UserJoy enables you to define good/average/poor health segments based on user engagement, activity, and a host of other parameters defined above</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/crop_happy_face.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">User Profile</h2>
                        <p class="lead">Get a realtime feed of all the activity carried out by an user on your app, check all the conversations he has had with your team, and share notes about a user amongst your team members.</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/crop_happy_face.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Communicate personally</h2>
                        <p class="lead">Communicate with a user after checking his profile and understanding where he is stuck on your app. Easily send out messages to an user, to all users, or to just a segment of users</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/personal_communication.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!-- /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Provide better support, together</h2>
                        <p class="lead">Invite your team members to UserJoy, and work together on providing personal customer support to all your users</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/personal_communication.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Set Auto Messages</h2>
                        <p class="lead">
                            Auto-trigger emails / notifications to users belonging to a segment. For example, automatically send a 'retention' email to <em>paying</em> users who are in <em>poor</em> health
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/personal_communication.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/insights_critical.jpg" alt="" style="margin-top: 30px">
                    </div>
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Get insights critical to your business</h2>
                        <ul class="lead">
                            <li>
                                Which new users need more training or onboarding assistance?
                            </li>
                            <li>
                                Which users are power users and ready for advanced features?
                            </li>
                            <li>
                                What renewals are at risk ?
                            </li>
                            <li>
                                Which customers are ready to buy this month?
                            </li>
                            <li>
                                Find your happiest users to help evangelize your product
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Increase engagement, Reduce churn</h2>
                        <p class="lead">
                            By enabling better tracking and more personal communication with your users, UserJoy enables you to increase engagment and reduce churn in your SAAS application
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/personal_communication.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <a href="/signup" class="btn btn-default btn-lg" style="background-color:#1abc9c; color:#fff">
                <i class="fa fa-share"></i>
                &nbsp;&nbsp;Sign Up</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
