<% include nav.ejs %>
<div class="jumbotron intro-jumbotron" style="padding-top: 120px;">
    <div class="container text-center">
        <h2 style="font-size: 44px;">
          Drive more subscription revenue
        </h2>
        <p style="font-size: 20px;">
          Increase trial conversions, identify upsell opportunities, and reduce churn
        </p>
        <br>
        <br>

        <a href="/signup" class="btn btn-success btn-lg btn3d">START FREE TRIAL</a>
        <br>
        <br>
        <small>No credit card required!</small>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-user"></span>
                <div class="caption">
                    <h3>Acquire Customers</h3>
                    <p style="text-align: left;">Identify users who are stuck in your onboarding process, and proactively reach out to them with help messages. Identify trial users who are serious about buying your product and target them with the right messages.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-envelope"></span>
                <div class="caption">
                    <h3>Retain Customers</h3>
                    <p style="text-align: left;">Identify which of your customers are in Good, Bad or Average health.
                    Automate messages to drive engagement for new features, and retain less engaged users. Enable your product, marketing, sales and support teams to engage with your customers in a more meaningful way.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-signal"></span>
                <div class="caption">
                    <h3>Monetize Customers</h3>
                    <p style="text-align: left;">Identify your customer evangelists and reach out to them for case studies and testimonials. Increase renewals, upsells and referrals.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.intro-header -->
<div id="content">

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify hot trials</h2>
                    <p class="">Identify trial users who are serious about using your product. Focus your efforts on converting these hot trials onto paying customers.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify bottlenecks in your onboarding process</h2>
                    <p>Find trial users who are facing problems integrating / using your product. Reach out to them with help messages.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify risk users</h2>
                    <p>Which of your paying customers are not engaging with the product anymore ?

                    Identify these users upfront and reach out to them with emails to get them back to using your product.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">See what users are doing in your app</h2>
                    <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, every button-click, link-click and form-submission with an 'id' attribute.

                    See what each of your users is doing in your app, in realtime.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>




    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find your most / least engaged users</h2>
                    <p>UserJoy assigns a score (0-100) to all your users, which tells you which of your users are engaging the most / least with your app.

                    UserJoy calculates an engagement score for all your users - a score that helps you identify the most/least engaged users on your app.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>





    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Monitor account health metrics</h2>
                    <p>UserJoy assigns a health status (Good / Average / Poor) to all your users. Customize the health metrics based on your app's needs.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>




    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Let your users talk to you, simply</h2>
                    <p>Make it easy for your users to ask you for help or provide feedback from the in-app messaging widget. Customize the widget depending on your app's look and feel.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>




    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Drive engagement for new features</h2>
                    <p>Launching a new feature? Introduce it to a small segment of your users initially, take to these users about their experience, and then introduce it to all your users.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Collaborate with your team members</h2>
                    <p>Invite members from your Product Development, Marketing, Sales And Customer Support teams.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>




    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Identify customer evangelists</h2>
                    <p>Message Them For Case Studies And Testimonials
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Communicate proactively</h2>
                    <p>Talk to your users, sort out their issues, seek their feedback.

                    Invite your team members to Userjoy and work together to proactively sort out your customers' issues

                    Assign messages to the right team member to make sure that right people handle every message
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SQL is old school</h2>
                    <p>Use our simple query builder to segment your users and understand their behaviour
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>




    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Auto-track User Activity</h2>
                    <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, every button-click, link-click and form-submission with an 'id' attribute.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get a 360 &deg; user profile view</h2>
                    <p>Quickly go through each user's profile to see their recent activity, engagement score, health status and account data.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Flexible segmentation</h2>
                    <p>Slice and dice your users based on the activity that they have or have not done in your app. You can also segment them on parameters like engagement score, health status, subscription plan, paying status and other user data</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="images/landing_page_img/conversationthread_notification.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Send messages based on user behaviour</h2>
                    <p>Auto-trigger notifications/emails to users belonging to a segment. Pop-up a 'new feature' notification or send a 'new release' email to the right users at the right time.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <br>
    <br>
    <br>


<!--     <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <img class="img-responsive" src="http://placehold.it/500x400" alt="Auto Track User Activity, User Profile" style="margin-top: 45px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                    <div class="col-md-4" style="padding-left: 40px;">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">See what your users are doing in real time</h2>
                        <h4><b>Auto-track user activity</b></h4>
                        <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, every button-click, link-click and form-submission with an 'id' attribute.</p>
                        <br>
                        <h4><b>Get a 360 &deg; user profile view</b></h4>
                        <p>Quickly go through each user's profile to see their recent activity, engagement score, health status and account data. </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class = "col-md-12">
                    <div class="col-md-4">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Understand your users</h2>
                        <h4><b>User Segmentation</b></h4>
                        <p>Slice and dice your users based on the activity that they have or have not done in your app. You can also segment them on parameters like engagement score, health status, subscription plan, paying status and other user data</p>
                        <br>
                        <h4><b>User Health Segments</b></h4>
                        <p>UserJoy calculates an engagement score for all your users - a score that helps you identify the most/least engaged users on your app.</p>
                        <p>You can see which of your users are in Good, Average or Poor health.</p>
                    </div>
                    <div class="col-md-8" style="padding-right: 40px;">
                        <img class="img-responsive" src="images/landing_page_img/segmentation.gif" alt="Increase Trial Conversion. Reduce churn" style="margin-top: 20px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <img class="img-responsive" src="images/landing_page_img/conversationthread_notification.png" alt="Understand your users. Send in app messages" style="margin-top: 70px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                    <div class="col-md-4" style="padding-left: 40px;">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Send messages based on user behaviour</h2>
                        <p>Auto-trigger notifications/emails to users belonging to a segment. Pop-up a 'new feature' notification or send a 'new release' email to the right users at the right time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->    <!-- <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Communicate proactively</h2>
                        <p>
                        Invite your team members to Userjoy and work together to proactively sort out your customers' issues</p>
                        <p>
                        Assign messages to the right team member to make sure that right people handle every message
                        </p>
                    </div>
                    <div class="col-md-8" style="padding-left: 40px;">
                        <img class="img-responsive" src="images/landing_page_img/team1.gif" alt="Increase Trial Conversion. Reduce churn" style="margin-top: 40px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div style="background-color: #ecf0f1;">

        <div class="container">

            <div class="row">
                <br>
                <h3 class="text-center">What people say about UserJoy.co</h3>
                <br>
                <br>
                <br>
            </div>



            <div class="row">

                <div class="col-sm-3 col-md-3 col-md-offset-1 text-center">
                    <img class="img-circle" src="images/landing_page_img/yash_testimonial.jpg">
                </div>


                <div class="col-sm-9 col-md-8">
                    <blockquote>
                        <p>

                            We use UserJoy to constantly monitor our users' engagement and account health. We can now easily identify trial prospects and upsell opportunities. Our whole team proactively communicates with users, with the full context of an user's activity, at the right time.

                        </p>
                        <br>
                        <p>
                            <strong>We have increased our trial conversions by 27% since integrating UserJoy.</strong>
                        </p>
                        <br>
                        <p>
                            Trial conversion and upselling has now become a process in our company. Its a must-use tool for all SaaS companies.
                        </p>
                        <small style="color: #7f8c8d">Yash Shah, CEO and Co-Founder, <a id="gridle-testimonial-link" href="http://gridle.io" target="_blank"><span style="color: #7f8c8d">Gridle.io</span></a></small>
                    </blockquote>
                </div>

            </div>


        </div>
        <br>
        <br>
        <br>


    </div>
</div>
<div class="banner">
    <div class="container text-center">
        <div class="row">
            <h3>Getting started takes less than 10 minutes</h3>

            <br>

            <p style="color: #bdc3c7">

            Our simple JavaScript SDK is <strong>less than 15 lines of code</strong>.

            <br>

            Even if you get stuck, our smart and fast support team can help at no extra cost.

            </p>
            <br>
            <a href="/signup" class="btn btn-success btn-lg btn3d">
            GET STARTED FOR FREE
            </a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
