<% include nav.ejs %>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="intro-message">
                <!-- <h1>Landing Page</h1> -->
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 style="text-shadow: -2px -2px 5px rgba(0,0,0,0.6);
                    line-height: 1.3;">Auto-track what users are doing on your app and communicate personally with them</h2>
                    <br>
                    <!-- <br> -->
                    <hr class="intro-divider">
                    <br>
                    <!-- <br> -->
                    <div>
                        <h3 style="display: inline-block;">Do you run a SaaS business ?</h3>
                        &nbsp;&nbsp;
                        <a href="/signup" class="btn btn-success btn-lg" style="display: inline-block; background-color: #5a9bce; border-color: #5a9bce;">Sign Up</a>
                    </div>
                    <!-- <div class="col-md-4">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<div id="content">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-6">
                        <img class="img-responsive" src="images/landing_page_img/autotrackuserprofile.png" alt="" style="margin-top: 45px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">See what your users are doing in real time</h2>
                        <h4><b>Auto-track user activity</b></h4>
                        <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, and every button-click, link-click and form-submission with an id attribute.</p>
                        <br>
                        <h4><b>Get a 360 &deg; user profile view</b></h4>
                        <p>Quickly go through each user's profile page to see their recent activity, how engaged they are, health status, paying status and bunch of other attributes. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class = "col-md-10 col-md-offset-1">
                    <div class="col-md-5">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Understand your users</h2>
                        <h4><b>User Segmentation</b></h4>
                        <p>Slice and dice your users based on the activity that your users have or have not done in your app. You can also filter them based on a host of other parameters like engagement score, health status, plan Value, account Status, and a host of other parameters</p>
                        <br>
                        <h4><b>User Health Segments</b></h4>
                        <p>UserJoy calculates an engagement score for all your users - a score that helps you identify the most/least engaged users on your app.</p>
                        <p>Also define good/average/poor health segments based on engagement score, activity, and other metrics defined above</p>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <img class="img-responsive" src="images/landing_page_img/filterscreenshot.png" alt="" style="margin-top: 100px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-6">
                        <img class="img-responsive" src="images/landing_page_img/conversationthread_notification.png" alt="" style="margin-top: 70px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Send in-app notifications & emails based on user activity/behaviour</h2>
                        <p>Auto-trigger notifications/emails to users belonging to a segment. Pop-up a 'new feature' notification or send a 'new release' email to the right users at the right time.</p>
                        <p>Get a complete view of user's profile while sending messages to them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-5">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Provide better support together</h2>
                        <p>
                            Invite your team members to Userjoy and work together to provide better experience to your customers.</p>
                        <p>
                            Assign messages to the right member to make sure that right people handle every message
                        </p>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <img class="img-responsive" src="images/landing_page_img/betterteamsupport.png" alt="" style="margin-top: 40px; padding:1px; border:1px solid #ecf0f1; background-color:#fff;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="content-section-b">
    <!-- <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/user_profile.png" alt="" style="margin-top: 20px">
                    </div>
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">User Profile</h2>
                        <p class="lead">Get a real-time feed of all the activity carried out by a user on your app, check all the conversations he has had with your team, and share notes about a user amongst your team members.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-8">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Understand user engagement</h2>
                        <p class="lead">UserJoy calculates an <strong>Engagement Score</strong> for all your users - a score that helps you identify high risk customers and users who are ready to buy or upgrade</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="images/landing_page_img/crop_happy_face.jpg" alt="" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-section-a -->

    
    
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 text-center">
                <h3>Ready to use UserJoy? Create an account for free today!</h3>
            </div>
            <div class="col-md-3 col-md-offset-1 text-center">
                <a href="/signup" class="btn btn-block btn-lg" style="background-color: #5a9bce; border-color: #5a9bce; color:#fff; margin-top: 15px;">
                <i class="fa fa-share"></i>
                &nbsp;&nbsp;Get Started</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
