<% include nav.ejs %>
<div class="jumbotron intro-jumbotron">
    <div class="container text-center">
        <h2 style="font-size: 44px;">
          Drive more subscription revenue
        </h2>
        <p style="font-size: 20px;">
          Increase trial conversions, identify upsell opportunities, and reduce churn
        </p>
        <br>
        <br>

        <a href="/signup" class="btn btn-primary btn-lg btn3d">Start Free Trial</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/convert" class="btn btn-success btn-lg btn3d">Learn More</a>
        <br>
        <br>
        <!-- <small>No credit card required!</small> -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-user"></span>
                <div class="caption">
                    <h3>Convert Trial Users</h3>
                    <p style="text-align: left;">Identify users who are stuck in your onboarding process, and proactively reach out to them with help messages. Identify trial users who are serious about buying your product and target them with the right messages.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-envelope"></span>
                <div class="caption">
                    <h3>Retain Customers</h3>
                    <p style="text-align: left;">Identify which of your customers are in Good, Bad or Average health.
                    Automate messages to drive engagement for new features, and retain less engaged users. Enable your product, marketing, sales and support teams to engage with your customers in a more meaningful way.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span style="font-size: 50px;" class="glyphicon glyphicon-signal"></span>
                <div class="caption">
                    <h3>Monetize Customers</h3>
                    <p style="text-align: left;">Identify your customer evangelists and reach out to them for case studies and testimonials. Increase renewals, upsells and referrals.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div style="background-color: #ecf0f1;">

        <div class="container">

            <div class="row">
                <br>
                <h3 class="text-center">What people say about UserJoy.co</h3>
                <br>
                <br>
                <br>
            </div>



            <div class="row">

                <div class="col-sm-3 col-md-3 col-md-offset-1 text-center">
                    <img class="img-circle" src="images/landing_page_img/yash_testimonial.jpg">
                </div>


                <div class="col-sm-9 col-md-8">
                    <blockquote>
                        <p>

                            We use UserJoy to constantly monitor our users' engagement and account health. We can now easily identify trial prospects and upsell opportunities. Our whole team proactively communicates with users, with the full context of an user's activity, at the right time.

                        </p>
                        <br>
                        <p>
                            <strong>We have increased our trial conversions by 27% since integrating UserJoy.</strong>
                        </p>
                        <br>
                        <p>
                            Trial conversion and upselling has now become a process in our company. Its a must-use tool for all SaaS companies.
                        </p>
                        <small style="color: #7f8c8d">Yash Shah, CEO and Co-Founder, <a id="gridle-testimonial-link" href="http://gridle.io" target="_blank"><span style="color: #7f8c8d">Gridle.io</span></a></small>
                    </blockquote>
                </div>

            </div>


        </div>
        <br>
        <br>
        <br>


    </div>
</div>
<div class="banner">
    <div class="container text-center">
        <div class="row">
            <h3>Getting started takes less than 10 minutes</h3>

            <br>

            <p style="color: #bdc3c7">

            Our simple JavaScript SDK is <strong>less than 15 lines of code</strong>.

            <br>

            Even if you get stuck, our smart and fast support team can help at no extra cost.

            </p>
            <br>
        </div>

        <div class="row">

            <a href="/signup" class="btn btn-primary btn-lg btn3d">
                Start Free Trial
            </a>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="/convert" class="btn btn-success btn3d">
                Learn More
                <br>
                <small>( Convert Trial Users )</small>
            </a>


        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
