<nav class="navbar navbar-default" role="navigation" style="border-width: 0 0 3px;">
    <div class="container-fluid">
        <div class="navbar-header" style="float: left; padding: 15px; text-align: center; width: 100%;">
            <a class="navbar-brand" style="float:none;" href="/">
                <img src="/images/userjoy_logo.png" height="40px;" alt="UserJoy">
                <!-- <span class="text-muted">UserJoy</span> -->
            </a>
        </div>
    </div>
    <!-- /.container -->
</nav>
