<%include nav_distraction_free.ejs %>
<div class="container">
    <div class="row text-center">
        <h2>
          Simple pricing that scales with your growth
        </h2>
        <br>
        <h4>
        <strong>30-day</strong> unlimited free trial. No obligation, no credit card required.
        </h4>
        <br>
        <a class="btn btn-lg btn-success" href="/signup">
            GET STARTED FOR FREE
        </a>
    </div>
    <div class="row">
        <br>
        <br>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                    Free
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                    <strong>
                    $0 / Forever
                    </strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Up to
                        <span style="font-size: 1.3em;">250</span>
                        users
                    </li>
                    <li class="list-group-item">
                        All Product Features
                    </li>
                    <li class="list-group-item">
                        Email Support
                    </li>
                    <!-- <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li> -->
                </ul>
             <!--    <div class="panel-footer">
                    <a class="btn btn-block btn-info" href="/signup">
                    Start My Trial
                    </a>
                </div> -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                    Startup
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                    <strong>
                    $49 / month
                    </strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Up to
                        <span style="font-size: 1.3em;">1000</span>
                        users
                    </li>
                    <li class="list-group-item">
                        All Product Features
                    </li>
                    <li class="list-group-item">
                        Email Support
                    </li>
                    <!-- <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li> -->
                </ul>
          <!--       <div class="panel-footer">
                    <a class="btn btn-block btn-info" href="/signup">
                    Start My Trial
                    </a>
                </div> -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                    Growth
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                    <strong>
                    $149 / month
                    </strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Up to
                        <span style="font-size: 1.3em;">5000</span>
                        users
                    </li>
                    <li class="list-group-item">
                        All Product Features
                    </li>
                    <li class="list-group-item">
                        Email Support
                    </li>
                    <!-- <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li> -->
                </ul>
            <!--     <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-primary" href="/signup">
                    Start My Trial
                    </a>
                </div> -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                    Premium
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                    <strong>
                    $299 / month
                    </strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Up to
                        <span style="font-size: 1.3em;">25000</span>
                        users
                    </li>
                    <li class="list-group-item">
                        All Product Features
                    </li>
                    <li class="list-group-item">
                        Email + Phone Support
                    </li>
                    <!-- <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li> -->
                </ul>
                <!-- <div class="panel-footer">
                    <a class="btn btn-block btn-info" href="/signup">
                    Start My Trial
                    </a>
                </div> -->
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                    Enterprise
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                    <span class="text-center">Starts at <strong>$499 / month</strong></span>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        More than 25,000 users
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>
                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-block btn-info" href="/contact">
                    Contact Sales
                    </a>
                </div>
            </div>
        </div> -->
    </div>



    <div class="row">
        <br>
        <h3 class="text-center">All Product Features</h3>

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-md-6">
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Flexible Segmentation</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Unlimited Event Tracking</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Unlimited Team Members</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Unlimited Segments</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Cross-Device User Tracking</p>
                    </div>

                    <div class="col-md-6">
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> 360-degree User Profile</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> User Engagement Score</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Account Health Monitoring</p>
                        <p><i class="fa fa-check" style="color: #18BC9C;"></i> Risk User Monitoring</p>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <br>

        <h3 class="text-center">Have questions about our plans & pricing?</h3>
    </div>



    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6">
                        <p style="font-size: 18px;"><b>Can I switch plans?</b></p>
                        <p>Anytime! You can upgrade/downgrade anytime.</p>
                        <br>
                        <p style="font-size: 18px;"><b>Can I cancel my subscription later?</b></p>
                        <p>Yes. Amount for the remaining full months will be refunded back.
                        </p>
                        <br>
                        <p style="font-size: 18px;"><b>How do I make payments?</b></p>
                        <p>You can pay by credit card or via your PayPal account. Our online payment gateway partner 2checkout.com supports both these modes.</p>
                        <br>
                        <p style="font-size: 18px;">
                        <b>What happens to my data after trial period gets over?</b></p>
                        <p>Your data remains intact in your account. If you choose to stop using the tool, you can download all the feedback threads and survey responses.</p>
                    </div>
                    <div class="col-md-6">
                        <p style="font-size: 18px;"><b>Can I change my recurring billing date ?</b></p>
                        <p>No. Your account gets debited automatically on the same date every month.</p>
                        <br>
                        <p style="font-size: 18px;"><b>Will I get all the features in the trial period?</b></p>
                        <p>
                        Yes. You will get all the features according to the plan you choose.</p>
                        <br>
                        <p style="font-size: 18px;"><b>What if my credit card doesn't have enough balance?</b></p>
                        <p>
                        Our online payment gateway partner informs us about any issue it faces with auto debiting your account. In such cases, we intimate you via email and put your account in 30 days credit period to keep UserJoy functional on your site.</p>
                    </div>
                </div>
            </div>
            <br>
      </div>
    </div>


    <div class="row text-center">

      <h4>Have other questions? Get in touch with us at <a href="mailto:team@userjoy.co">team@userjoy.co</a></h4>

    </div>

    <br>

    <div class="row text-center">
      <!-- <h4>Ready to use UserJoy ? Get started with your 30-day free trial today.</h4> -->
      <a class="btn btn-lg btn-success" href="/signup">
          GET STARTED FOR FREE
      </a>
    </div>

    <br>
</div>

<% include footer.ejs %>
