<%include nav.ejs %>
<div class="container" style="padding-top: 90px;">

    <div class="row">

        <h3 class="text-center">
        All plans come with a 14 day FREE trial
        </h3>
        <br>

        <div class="col-md-3">

            <div class="panel panel-primary">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Basic
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <strong>
                    $49 / month
                    </strong>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        1000 active users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited team members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited messages
                    </li>

                </ul>

                <div class="panel-footer">

                <!-- TODO: Change link in production -->

                    <a class="btn btn-lg btn-block btn-primary" href="https://userjoy.wufoo.com/forms/userjoy-account-registration/">
                    Sign Up Now!
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Standard
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <strong>
                    $149 / month
                    </strong>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        1,000 - 5,000 active users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited team members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>

                </ul>

                <div class="panel-footer">
                    <!-- TODO: Change link in production -->
                    <a class="btn btn-lg btn-block btn-info" href="https://userjoy.wufoo.com/forms/userjoy-account-registration/">
                    Sign Up Now!
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Premium
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <strong>
                    $299 / month
                    </strong>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        10,000 - 25,000 active users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited team members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>

                </ul>

                <div class="panel-footer">
                    <!-- TODO: Change link in production -->
                    <a class="btn btn-lg btn-block btn-info" href="https://userjoy.wufoo.com/forms/userjoy-account-registration/">
                    Sign Up Now!
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Enterprise
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <!-- <a class="btn btn-info" href="/contact">
                    Contact us
                    </a>
                    <br>
                    <br> -->
                    <small class="text-center">plans starts at <strong>$499/month</strong></small>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        More than 25k active users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited team members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>

                </ul>

                <div class="panel-footer">

                <!-- TODO: Change link in production -->

                    <a class="btn btn-lg btn-block btn-info" href="/contact">
                    Contact Us!
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>
<div class="row" style="padding-top:50px;">
</div>
<% include footer.ejs %>