<%include nav.ejs %>
<div class="container" style="padding-top: 90px;">

    <div class="row">

        <h3 class="text-center">
        <strong>14-day</strong> unlimited free trial. No obligation, no credit card required.
        </h3>
        <br>
        <br>

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Startup
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <strong>
                    $49 / month
                    </strong>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        1,000 users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>
                </ul>

                <div class="panel-footer">

                <!-- TODO: Change link in production -->

                    <a class="btn btn-block btn-info" href="/signup">
                    Start Free Trial
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-primary">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Growth
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <strong>
                    $149 / month
                    </strong>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        5,000 users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>
                </ul>

                <div class="panel-footer">
                    <!-- TODO: Change link in production -->
                    <a class="btn btn-lg btn-block btn-primary" href="/signup">
                    Start Free Trial
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Premium
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <strong>
                    $299 / month
                    </strong>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        25,000 users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>
                </ul>

                <div class="panel-footer">
                    <!-- TODO: Change link in production -->
                    <a class="btn btn-block btn-info" href="/signup">
                    Start Free Trial
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">

                    <h4 class="text-center">
                    Enterprise
                    </h4>

                </div>

                <div class="panel-body text-center">

                    <p class="lead">

                    <!-- <a class="btn btn-info" href="/contact">
                    Contact us
                    </a>
                    <br>
                    <br> -->
                    <span class="text-center">Starts at <strong>$499 / month</strong></span>
                    </p>

                </div>

                <ul class="list-group list-group-flush text-center">

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        More than 25,000 users
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        User Engagement Score and Health Status
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Team Members
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Event Tracking
                    </li>

                    <li class="list-group-item">
                        <i class="icon-ok text-danger">
                        </i>
                        Unlimited Messages
                    </li>
                </ul>

                <div class="panel-footer">

                <!-- TODO: Change link in production -->

                    <a class="btn btn-block btn-info" href="/contact">
                    Contact Sales
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>
<div class="row" style="padding-top:50px;">
</div>
<% include footer.ejs %>
