<% include nav.ejs %>
<div class="row" style="padding-top: 90px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="lead">
            Privacy Policy
        </div>
        <div style="text-align: justify;">
            <strong>
            Last Updated: July 12, 2013
            <p>
            </p>
            </strong>
            <strong>
            PERSONAL PRIVACY
            <p>
            </p>
            </strong>
            <p>
            UserJoy collects personal information from you, such as name and email address, when you sign up for our service or contact us by email. We also track many of the actions you take on our site in order to improve the service.
            </p>
            <p>
            We will never share this information with anyone unless required by law.
            </p>
            <strong>
            DATA PRIVACY
            <p>
            </p>
            </strong>
            <p>
            We understand that the data you send to UserJoy is confidential and treat it as such. We will never share the data you send us with anyone unless required by law. Access will be restricted to the team members you invite, and to certain UserJoy staff in order to provide support and develop the service.
            </p>
            <p>
            We reserve the right to analyze this data from an aggregated standpoint, and publish aggregated studies and figures (e.g. the total number of users tracked across all sites for UserJoy). In doing so we will never compromise the confidentiality of your data by publishing any identifying information.
            </p>
            <strong>
            COOKIES
            <p>
            </p>
            </strong>
            <p>
            A cookie is a small amount of data that is sent to your browser from our servers and stored on your computer's hard drive. We use cookies to access information when you sign in, store your preferences, to keep you logged in, and to store a limited amount of behavioral data. You can configure your browser to accept or reject these cookies. We will respect this decision by not using other means to track you.
            </p>
            <strong>
            CHANGES TO THIS PRIVACY POLICY
            <p>
            </p>
            </strong>
            <p>
            We’ll let you know about any significant changes by putting a notice on our login page 30 days before they become effective.
            </p>
            <strong>
            QUESTIONS OR COMMENTS
            <p>
            </p>
            </strong>
            <p>
            If you have questions or comments about this privacy policy, please contact us by email at support@userjoy.co.
            </p>
        </div>
    </div>
</div>
<div class="row" style="padding-top:50px;">
</div>
<% include footer.ejs %>