<% include nav.ejs %>

<div class="jumbotron jumbotron-page-header">
    <div class="container text-center">
        <h3>
          <strong>Easy Customer Success Management for SaaS Companies</strong>
        </h3>
    </div>
</div>

<!-- /.intro-header -->
<div id="content">

    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Auto-track user activity</h2>
                    <p>UserJoy automatically tracks activity for all your signed-up users - every pageview, every button-click, link-click and form-submission with an 'id' attribute.</p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/activity-feed.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/engagement-score.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">User Engagement Score</h2>
                    <p>
                        UserJoy calculates an engagement (0-100) score for all your users - a score that helps you identify the most/least engaged users on your app.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Account Health Status</h2>
                    <p>
                        UserJoy assigns a health status (Good / Average / Poor) to all your users. Customize the health metrics based on your app's needs.
                    </p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/account-health.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/360-profile.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get a 360 &deg; user profile view</h2>
                    <p>Quickly go through each user's profile to see their recent activity, engagement score, health status and account data.</p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Simple, flexible segmentation</h2>
                    <p>

                        Slice and dice your users based on the activity that they have or have not done in your app. You can also segment them on parameters like engagement score, health status, subscription plan, paying status and other user data

                        <br>
                        <br>

                        SQL is old school. Use our simple query builder to segment your users and understand their behaviour


                    </p>

                </div>


                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/gifs/segmentation.gif" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/message-widget.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Let your users talk to you, simply</h2>
                    <p>Make it easy for your users to ask you for help or provide feedback from the in-app messaging widget. Customize the widget depending on your app's look and feel.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Send messages based on user behaviour</h2>
                    <p>Auto-trigger notifications/emails to users belonging to a segment. Pop-up a 'new feature' notification or send a 'new release' email to the right users at the right time.</p>

                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="images/landing_page_img/conversationthread_notification.png" alt="Auto Track User Activity, User Profile">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-feature" src="/images/screenshots/team-collaboration.png" alt="Auto Track User Activity, User Profile">
                </div>

                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Collaborate with your team members</h2>
                    <p>Invite members from your Product Development, Marketing, Sales And Customer Support teams.
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

</div>



<% include _testimonial.ejs %>


<div class="banner-get-started">
    <div class="container text-center">
        <div class="row">
            <h3>Getting started takes less than 10 minutes</h3>

            <br>

            <p style="color: #bdc3c7">

            Our simple JavaScript snippet is <strong>less than 15 lines of code</strong>.

            <br>

            Even if you get stuck, our smart and fast support team can help at no extra cost.

            </p>
            <br>
            <a href="/signup" class="btn btn-success btn-lg btn3d">
            GET STARTED FOR FREE
            </a>

            <br>
            <br>

            <p class="text-muted">OR</p>

            <a href="/convert">Learn More</a>

        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
</div>
<% include footer.ejs %>
