<% include nav.ejs %>
<div class="row" style="padding-top: 90px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="lead">
            Refund Policy
        </div>
        <div style="text-align: justify;">
            <strong>
            Last Updated: Feb 02, 2014
            <p>
            </p>
            </strong>
            <strong>
            14 Day Free Trial
            <p>
            </p>
            </strong>
            <p>
            M87 Technologies offers UserJoy SaaS to companies under a 14-day free trial period program. The trial period begins immediately upon account activation. Upon activiation, potential subscribers will be notified by e-mail of the date of their trial's expiration. The free trial period only applies to new customers and does not apply to existing customers that have a subscription plan. M87 Technologies will also not honor a free trial period for customers who were once paying subscribers, cancelled, and then decided to re-instate their subscription to UserJoy.
            </p>
            <p>
            At any time during the 14-day free trial period, potential subscriber (customer) can cancel their account and will not be billed. M87 Technologies does not ask for credit card information to sign up for the 14-day free trial period. If you forget to cancel within the 14-day free trial period, your account WILL NOT BE CHARGED and your access will automatically be cancelled by our customer support team. You will not incur any charges.
            </p>
            <p>
            In order to continue using UserJoy SaaS after the 14-day free trial period, you will be asked to subscribe to one of our subscription plans.
            </p>
            <strong>
            Monthly Billing , Cancellation, and Refund Policies
            <p>
            </p>
            </strong>
            <p>
            M87 Technologies charges and collects in advance for use of the UserJoy SaaS software service. All services rendered are non-refundable.
            </p>
            <strong>
            Important: No refunds or credits for partial months, quarters or years of service will be refunded to a customer upon cancellation.
            <p>
            </p>
            </strong>
            <p>
            All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and the customer is responsible for payments of all such taxes, levies, or duties. The fees that M87 Technologies charges for the monthly, quarterly, or yearly software services exclude taxes, phone, and internet access charges, as well as other data transmission charges. Any currency exchange settlements are based on the customer's agreement with the payment method provider. To be clear: these taxes and charges are the customer's responsibility.
            </p>
            <p>
            To sign up for a monthly, quarterly or yearly subscription plan to M87 Technologies, the customer must provide M87 Technologies with a valid credit card as a condition to subscribing to the software service. Furthermore, M87 Technologies reserves the right to change or modify its fee structure and introduce new charges with at least 14 days prior notice to the customer.
            </p>
            <p>
            Customers have the ability to upgrade or downgrade their subscription plan at any time. With regards to downgrades on a subscription, M87 Technologies does not issue refunds or credits for partial months of software service.
            </p>
        </div>
    </div>
</div>
<% include footer.ejs %>