<div class="container">
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">UserJoy</h2>
    </div>
    <br>
    <br>
    <div class="row">
        <div id="signupbox" class="col-md-8 col-sm-12">
            <div>
                <div class="text-center">
                    <h3>Start increasing your trial conversions and upsells now</h3>
                    <br>
                </div>
                <div class="panel-body">
                    <form id="signup_form" class="form-horizontal" role="form">
                        <div id="signupalert" class="alert alert-danger" style="display: none;">
                            <button type="button" class="close" aria-hidden="true" onclick="closeErrMsg()">&times;</button>
                            <p><strong>Error</strong>:
                            <span id="errortext"></span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">Name *</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" id="name" placeholder="John Appleseed" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email *</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" id="email" placeholder="john.appleseed@apple.com" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password *</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password" id="password" placeholder="*************" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="signup_form_submit" class="btn btn-lg btn-success col-md-6" type="submit">
                                <strong>Start My Trial</strong>
                                </button>
                                <br>
                                <p class="col-md-1 col-md-offset-1" id="spin" style="margin-top: 10px;">
                                </p>
                                <br>
                                <br>
                                <br>
                                <small>By signing up, you agree to our
                                <a href="/legal/terms" target="_blank">terms</a> and
                                <a href="/legal/privacy" target="_blank">privacy policy</a>.</small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <li>
                        Lorem Ipsum
                    </li>
                    <li>
                    </li>
                    <div class="col-sm-1 col-md-1 text-center">
                        <img class="img-circle" src="images/landing_page_img/anupama_testimonial.jpg" style="height: 30px;">
                    </div>
                    <div class="col-sm-10 col-md-10" style="margin-left: 3px;">
                        <p>ASDasdada</p>
                        <small style="color: #7f8c8d; font-size: 12px;">Anupama Panchal, Co-Founder, <a id="gridle-testimonial-link" href="http://gridle.io" target="_blank">Gridle.io</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<% include footer.ejs %>
