<div class="container" style="padding-top:70px">
    <div class="row">
        <h2 class="text-center">UserJoy</h2>
    </div>
    <br>
    <br>
    <div class="row">

        <div id="signupbox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="panel-title"><h4>Get started in under 15 minutes</h4></div>
                </div>
                <div class="panel-body">
                    <form id="signup_form" class="form-horizontal" role="form">
                        <div id="signupsuccess" class="alert alert-success" style="display: none;">
                            <button type="button" class="close" aria-hidden="true" onclick="closeSuccessMsg()">&times;</button>
                            <span id="successtext"></span>
                        </div>
                        <div id="signupalert" class="alert alert-danger" style="display: none;">
                            <button type="button" class="close" aria-hidden="true" onclick="closeErrMsg()">&times;</button>
                            <p><strong>Error</strong>:
                            <span id="errortext"></span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" id="name" placeholder="John Appleseed" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" id="email" placeholder="john.appleseed@apple.com" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password" id="password" placeholder="*************" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <small>By signing up, you agree to our
                                <a href="/legal/terms" target="_blank">terms</a> and
                                <a href="/legal/privacy" target="_blank">privacy policy</a>.</small>
                                <br>
                                <br>
                                <button id="signup_form_submit" class="btn btn-lg btn-success" type="submit">Create Account</button>
                                <span id="spin">
                                </span>
                            </div>
                        </div>
                    </form>

                   <!--  <h4 class="col-md-offset-3 col-md-9">
                      <a id="signinlink" href="javascript:redirectToLogin()">Have an account? Sign In</a>
                    </h4> -->
                </div>
            </div>
        </div>

    </div>

</div>
