<div>
    <a style="cursor: pointer; display: {{isDisplayed}};" onclick="userjoy.showFeedback()" id="{{MSG_DISPLAY_QMARK}}">
        <div style="position: fixed; bottom:30px; right:20px; z-index: 99999999;">
            <span style="display: inline-block;
            min-width: 20px;
            padding: 10px 14px;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            vertical-align: baseline;
            white-space: nowrap;
            text-align: center;
            background-color: {{color}};
            border-radius: 10px;">&#63;
            </span>
        </div>
    </a>
    <div style="display: none" id="{{MSG_TEMPLATE_ID}}">
        <div style="position: fixed; right: 9px; z-index: 99999999; top: 50%; left: 50%; margin-left: -225px; height: 1000px; margin-top: -150px;" class="uj-col-md-4">
            <div class="uj-panel uj-panel-default" style="border-color: #ddd;">
                <div class="uj-panel-heading">
                    <h3 class="uj-panel-title" style="text-align: center;">Send us a Message</h3>
                    <button type="button" class="uj-close" aria-hidden="true" onclick="userjoy.hideFeedback()" id="closeFeedback" style="margin-top: -25px;">&times;</button>
                </div>
                <div class="uj-panel-body">
                    <form role="form">
                        <textarea id="{{MSG_BODY_TEMPLATE_ID}}" class="uj-form-control" style="padding: 4px; height: 200px; border-color: {{color}}; box-shadow: none;"></textarea>
                        <span style="display: none; margin-top: 10px;" id="{{MSG_SENT_TEMPLATE_ID}}">
                        Message Sent. Thanks!</span>
                        <span id="{{MSG_ERROR_ID}}" style=" display:none; color: #a94442; margin-top: 10px;">
                        Your message cannot be blank
                        </span>
                        <button type="button" class="uj-btn uj-btn-sm uj-btn-block" onclick="userjoy.sendConversation()" style="float: right; margin-top: 10px; color: #fff; background-color: {{color}}; border-color: {{color}}" id="{{MSG_SEND_FEEDBACK_ID}}">Send Message</button>
                        <div style="text-align: center;">
                        <small style="color: #95a5a6;">Powered by <a style="text-decoration:none; color: {{color}}" href="http://www.userjoy.co", target="_blank">UserJoy</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
