<div id="{{notification_template_id}}" style="position: relative;">

        <div style="width: 400px; float:right;">



            <div style="min-height: 150px; overflow: auto; margin: 20px 0; padding: 20px; border-left: 5px solid #eee; background-color: #fdf7f7; border-color: #d9534f; border-right: 1px solid #d9534f;
                border-top: 1px solid #d9534f; border-bottom: 1px solid #d9534f;
                border-radius: 4px;">

                <button type="button" style="padding: 0; cursor: pointer;
                background: transparent; border: 0; -webkit-appearance: none; padding: 0;
                cursor: pointer;
                background: transparent;
                border: 0;
                -webkit-appearance: none; float: right;
                font-size: 21px;
                font-weight: bold;
                line-height: 1;
                text-shadow: 0 1px 0 #ffffff; align-items: flex-start;
                text-align: center; color: #bdc3c7" aria-hidden="true" onclick="userjoy.hideNotification()" id="closeNotification">&times;</button>
                <p>{{msg}}</p>
                <span id="msgsent" style="margin-top: 140px; display:none; color: #7f8c8d">Message Sent. Thanks!</span>

            </div>

            <div style="margin-top: -23px; padding: 10px 15px; background-color: #ecf0f1; border-top: 1px solid #ecf0f1; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">

                <div style="position: relative; border-collapse: separate;">

                    <input id="reply" type="text" name="msg" placeholder="Type your message here..." style="margin-top: 3px; display: table-cell; position: relative; float: left; width: 80%;
                    margin-bottom: 0; border: 1px solid #ccc; height: 18px;
                    padding: 6px 9px; font-size: 13px; line-height: 1.5;
                    border-radius: 3px; color: #2c3e50;
                    background-color: #ffffff;
                    background-image: none; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-appearance: textfield; -webkit-rtl-ordering: logical;
                    -webkit-user-select: text;
                    cursor: auto; margin: 0em;
                    font: -webkit-small-control;
                    color: initial;
                    letter-spacing: normal;
                    word-spacing: normal;
                    text-transform: none;
                    text-indent: 0px;
                    text-shadow: none;
                    text-align: start; -webkit-writing-mode: horizontal-tb; position: relative;
                    border-collapse: separate;"/>


                    <span style="display: table-cell; width: 1%;
                    white-space: nowrap;
                    vertical-align: middle; position: relative;
                    font-size: 0; position: relative;
                    display: table;
                    border-collapse: separate;">


                    <button id="btn-chat" type="button" style="position: relative; padding: 8px 9px;
                    font-size: 13px;
                    line-height: 1.5;
                    border-radius: 3px; color: #ffffff;
                    background-color: #e74c3c;
                    border-color: #e74c3c; display: inline-block;
                    margin-bottom: 0;
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    background-image: none;
                    border: 1px solid transparent;
                    white-space: nowrap; -webkit-user-select: none; align-items: flex-start; box-sizing: border-box; margin: 0em;
                    font: -webkit-small-control;
                    letter-spacing: normal;
                    word-spacing: normal;
                    text-transform: none;
                    text-indent: 0px;
                    text-shadow: none; -webkit-writing-mode: horizontal-tb; -webkit-appearance: button;
                    vertical-align: middle; position: relative; position: relative;
                    display: table;
                    border-collapse: separate;" onclick="userjoy.replyNotification()">
                    Send</button>


                    </span>
                </div>
            </div>
        </div>
</div>