<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button class="btn btn-default btn-circle" style="cursor:not-allowed">1</button>
                        <p>Onboarding</p>
                    </div>
                    <div class="stepwizard-step">
                        <button class="btn btn-success btn-circle" style="cursor:not-allowed">2</button>
                        <p>Install Code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row col-md-8 col-md-offset-2">
        <div class="panel panel-info" style="border-color: #bce8f1">
            <div class="panel-heading" style="background-color: #d9edf7; border-color: #bce8f1">
                <h3 class="panel-title" style="color:#31708f">Start tracking your customers by adding the <strong>DoDataDo</strong> code to your website</h3>
            </div>
            <div class="panel-body">
                <h4>Edit code by adding email id, user id ....</h4>
                <br>
                <textarea class="form-control" rows="10">Code to be added here .....</textarea>
                <div style="padding-top:20px">
                    <button class="btn btn-info pull-right">Copy to Clipboard</button>
                    <button class="btn btn-info pull-right" style="margin-right:10px">Send to Developer</button>
                </div>
            </div>
        </div>
    </div>
</div>