<div ng-include src="'/templates/navbar/navbar.installation.html'"></div>
<div class="row">
    <div class="col-md-6">
        <label class="col-md-2 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">From: </label>
        <input class="form-control" ng-model="accountEmail" style="width: 400px;" required>
    </div>
    <div class="col-md-6">
        <label class="col-md-1 col-md-offset-2 control-label" style="font-size: 20px; padding-left: 0px">To: </label>
        <input class="form-control" ng-model="toEmail" placeholder="email address" style="width: 400px" type="email">
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <textarea rows="20" class="form-control">
        Hey,
        Could you please integrate UserJoy code on our website. The code goes here:

        window.userjoy = window.userjoy || [];
        ​window.userjoy.methods = ['identify', 'company', 'track', 'page', 'track_link', 'track_form'];
        ​window.userjoy.factory = function (method) {
          return function () {
            var args = Array.prototype.slice.call(arguments);
            args.unshift(method);
            window.userjoy.push(args);
            return window.userjoy;
          };
        };
        ​for (var i = 0; i < window.userjoy.methods.length; i++) {
          var key = window.userjoy.methods[i];
          window.userjoy[key] = window.userjoy.factory(key);
        }
        ​window.userjoy.load = function (key) {
          window._userjoy_id = key;
          if (document.getElementById('userjoy')) return;
          // Create an async script element based on your key.​
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.id = 'userjoy';
          script.async = true;
          script.src = '//cdn.userjoy.co/js/userjoy.js';
          var first = document.getElementsByTagName('script')[0];
          first.parentNode.insertBefore(script, first);
        };
        ​window.userjoy.SNIPPET_VERSION = '1.0.0';
        ​window.userjoy.load('{{appId}}');
        userjoy.page();
        </textarea>
    </div>
</div>
<br>
<br>
<div class="row col-md-offset-4 col-md-4">
  <button class="btn btn-info btn-block" ng-click="sendEmail()" ng-disabled="!toEmail.length">Send to Developer</button>
</div>