<div ng-include src="'/templates/navbar/navbar.installation.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button class="btn btn-default btn-circle" style="cursor:not-allowed">1</button>
                        <p>Onboarding</p>
                    </div>
                    <div class="stepwizard-step">
                        <button class="btn btn-success btn-circle" style="cursor:not-allowed">2</button>
                        <p>Install Code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row col-md-8 col-md-offset-2">
        <div class="panel panel-info" style="border-color: #bce8f1">
            <div class="panel-heading" style="background-color: #d9edf7; border-color: #bce8f1">
                <h3 class="panel-title" style="color:#31708f">Start tracking your customers by adding the <strong>UserJoy</strong> code to your website</h3>
            </div>
            <div class="panel-body">
                <h4>Edit code by adding email id, user id ....</h4>
                <br>
                <pre id="selectable" ng-click="selectText('selectable')"><code  ng-model="codeSnippet">
window.userjoy=window.userjoy||[],window.userjoy.methods=["identify","company","track","page","track_link","track_form"],window.userjoy.factory=function(a){return function(){var b=Array.prototype.slice.call(arguments);return b.unshift(a),window.userjoy.push(b),window.userjoy}};for(var i=0;i < window.userjoy.methods.length;i++){var key=window.userjoy.methods[i];window.userjoy[key]=window.userjoy.factory(key)}window.userjoy.load=function(a){if(!document.getElementById("userjoy-js")){window._userjoy_id=a;var b=document.createElement("script");b.type="text/javascript",b.id="userjoy-js",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//d1jozu9mugm1h5.cloudfront.net/js/userjoy.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}};​​

window.userjoy.load('{{apiKey}}');

userjoy.page();

userjoy.identify({
  // TODO: Replace email below with that of the logged in user
  email: 'test@userjoy.co'
});
</code></pre>
                <!-- <textarea class="form-control" rows="10">Code to be added here .....</textarea> -->
                <div style="padding-top:20px">
                    <a class="btn btn-info pull-right" ng-click="startTracking()" href="#">Start Tracking Now!</a>
                    <!-- <button class="btn btn-info pull-right" style="margin-right:10px">Copy to Clipboard</button> -->
                    <button class="btn btn-info pull-right" style="margin-right:10px" ng-click="sendToDeveloper()">Send to Developer</button>
                </div>
            </div>
        </div>
    </div>
</div>