<div ng-include src="'/templates/navbar/navbar.installation.html'"></div>
<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button class="btn btn-success btn-circle" style="cursor:not-allowed">1</button>
                        <p>Install Code</p>
                    </div>
                    <div class="stepwizard-step">
                        <button class="btn btn-default btn-circle" style="cursor:not-allowed">2</button>
                        <p>Onboarding</p>
                    </div>
                    <div class="stepwizard-step">
                        <button class="btn btn-default btn-circle" style="cursor:not-allowed">3</button>
                        <p>Invite Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <div class="row col-md-8 col-md-offset-2">
        <div class="panel panel-info" style="border-color: #bce8f1">
            <div class="panel-heading" style="background-color: #d9edf7; border-color: #bce8f1">
                <h3 class="panel-title" style="color:#31708f">Start tracking your user activity with the following 3 steps:</h3>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-md-offset-5 col-md-7">
                    <button class="btn btn-success btn-block fa fa-envelope-o" ng-click="sendToDeveloper()" id="sendToDeveloper">&nbsp;&nbsp;SEND THESE INSTRUCTIONS TO YOUR DEVELOPER</button>
                </div>
            </div>
            <br>
            <ol>

                <li>Paste this code before <code>
&lt;/body&gt;
</code>  on every page where users are logged in
                <br>
                <br>
                <pre id="selectable" ng-click="selectText('selectable')" style="color: #2c3e50;"><code  ng-model="codeSnippet">
&lt;script type="text/javascript"&gt;
</code>

    <code>
    window.userjoy=window.userjoy||[],window.userjoy.methods=["identify","company","track","page","track_link","track_form"],window.userjoy.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(e),window.userjoy.push(t),window.userjoy}};for(var i=0;i < window.userjoy.methods.length;i++){var key=window.userjoy.methods[i];window.userjoy[key]=window.userjoy.factory(key)}window.userjoy.load=function(e){if(!document.getElementById("userjoy-client-js")){window._userjoy_id=e;var t=document.createElement("script");t.type="text/javascript",t.id="userjoy-client-js",t.async=!0,t.src=("https:"===document.location.protocol?"https:":"http:")+"//d1jozu9mugm1h5.cloudfront.net/js/userjoy.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)}};</code>
    <code>
    userjoy.load('{{apiKey}}');
    </code>

    <code>
    userjoy.identify({
    </code>

    <code>
        // TODO: logged in user's email.
    </code>
    <code>
        // Used to identify the user and send him email messages
    </code>
    <code>
        // (REQUIRED)
    </code>
    <code>
       email: 'test@userjoy.co',
    </code>

    <code>
        // TODO: logged in user's unique id.
    </code>
    <code>
        // if your app allows a user to change his email address,
    </code>
    <code>
        // then user_id is required to identify user
    </code>
    <code>
        // (OPTIONAL)
    </code>
    <code>
        user_id: '758439753849',
    </code>

    <code>
        // TODO: logged in user's payment status
        </code>
    <code>
        // MUST be one of 'trial' / 'free' / 'paying' / 'cancelled'
    </code>
    <code>
        // (REQUIRED)
    </code>
    <code>
        status: 'trial',
    </code>

    <code>
        // TODO: logged in user's sign-up date in UNIX timestamp
    </code>
    <code>
        // (milliseconds after epoch)
    </code>
    <code>
        // (REQUIRED)
    </code>
    <code>
        joined: 1403353187345,
    </code>

    <code>
        // TODO: logged in user's subscription plan
    </code>
    <code>
        // Helps you segment users by plan name
    </code>
    <code>
        // (OPTIONAL)
    </code>
    <code>
        plan: 'Enterprise',
    </code>

    <code>
        // TODO: monthly revenue from user
    </code>
    <code>
        // (OPTIONAL)
    </code>
    <code>
        revenue: 499
    </code>
    });

&lt;/script&gt;
</pre>
</li>


<br>
<li>Review the TODO comments and edit the code</li>
<br>

<li>In order for us to detect that the code is installed, make sure you visit a page on your site after installation. Now, activate your app by clicking on <b> Check for the code </b> button.</li>

</ol>
                <!-- <textarea class="form-control" rows="10">Code to be added here .....</textarea> -->
                <div style="padding-top:20px">
                    <a class="btn btn-success pull-right" ng-click="startTracking()" href="#" id="startTracking">Check for the code</a>
                    <!-- <button class="btn btn-info pull-right" style="margin-right:10px">Copy to Clipboard</button> -->
                    <!-- <button class="btn btn-info pull-right" style="margin-right:10px" ng-click="sendToDeveloper()" id="sendToDeveloper">Send to Developer</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
