<h4>Customize Health Metrics</h4>
<hr>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-success" style="padding: 15px"></button>
    </div>
    <div class="col-md-3" style="padding-top: 5px;">
        <span style="font-size: 17px;">Good Health</span>
    </div>
</div>
<br>
<div style="padding-left: 12px">
    <div class="row">
        <p>A customer is considered to be of good health when:</p>
    </div>
    <br>
    <div class="row">
        <input type="checkbox">
        <span>&nbsp;&nbsp;Visit frequency of your users is &nbsp;
        </span>
        <button type="button" class="btn btn-default" bs-dropdown="activitydropdown">Weekly
        <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Overall time spent is atleast &nbsp;</span>
        <button type="button" class="btn btn-default" bs-dropdown="spenttimedropdown">2 hrs
        <i class="fa fa-caret-down"></i>
        </button>
        <span>&nbsp;per week</span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Pulse score is atleast &nbsp;</span>
        <button type="button" class="btn btn-default" bs-dropdown="pulsedropdown">60%
        <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;At least &nbsp;</span>
        <button type="button" class="btn btn-default" bs-dropdown="purchasedlicensesdropdown">60%
        <i class="fa fa-caret-down"></i>
        </button>
        <span>&nbsp;purchased licenses used</span>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-warning" style="padding: 15px"></button>
    </div>
    <div class="col-md-3" style="padding-top: 5px;">
        <span style="font-size: 17px;">Average Health</span>
    </div>
</div>
<br>
<div class="row">
    <div style="padding-left:12px">
        A customer is considered to be of average health if none of the criterias for good health and none of the criterias for bad health are met.
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-danger" style="padding: 15px"></button>
    </div>
    <div class="col-md-3" style="padding-top: 5px;">
        <span style="font-size: 17px;">Bad Health</span>
    </div>
</div>
<br>
<div style="padding-left: 12px;">
    <div class="row">
        <p>A customer is considered to be of good health when:</p>
    </div>
    <br>
    <div class="row">
        <input type="checkbox">
        <span>&nbsp;&nbsp;Visit frequency of your users is &nbsp;
        </span>
        <button type="button" class="btn btn-default" bs-dropdown="activitydropdown">Inactive
        <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Overall time spent is less than &nbsp;</span>
        <button type="button" class="btn btn-default" bs-dropdown="spenttimedropdown">10 mins
        <i class="fa fa-caret-down"></i>
        </button>
        <span>&nbsp;per week</span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Pulse score is less than &nbsp;</span>
        <button type="button" class="btn btn-default" bs-dropdown="pulsedropdown">20%
        <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Less than </span>
        <button type="button" class="btn btn-default" bs-dropdown="purchasedlicensesdropdown">20%
        <i class="fa fa-caret-down"></i>
        </button>
        <span>&nbsp;purchased licenses used</span>
    </div>
</div>