<div class="col-md-offset-1">
    <div class="row">
        <fieldset style="margin-top: 20px;">
            <div class="form-group">
                <label for="name" class="col-md-3 control-label" style="font-size: 20px"><strong>Select Color</strong></label>
                <div class="col-md-8">
                    <div class="bs-example">
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #39b3d7; margin-right: 15px;" ng-click="showPreview('#39b3d7')" ng-style="{'width': btnInfoWidth, 'height': btnInfoHeight}"></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #3276b1; margin-right: 15px;" ng-click="showPreview('#3276b1')" ng-style="{'width': btnPrimaryWidth, 'height': btnPrimaryHeight}"></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #7f8c8d; margin-right: 15px;" ng-click="showPreview('#7f8c8d')" ng-style="{'width': btnDefaultWidth, 'height': btnDefaultHeight}"></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #18bc9c; margin-right: 15px;" ng-click="showPreview('#18bc9c')" ng-style="{'width': btnSuccessWidth, 'height': btnSuccessHeight}"></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #f0ad4e; margin-right: 15px;" ng-click="showPreview('#f0ad4e')" ng-style="{'width': btnWarningWidth, 'height': btnWarningHeight}"></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #d9534f; margin-right: 15px;" ng-click="showPreview('#d9534f')" ng-style="{'width': btnDangerWidth, 'height': btnDangerHeight}"></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div style="margin-top: 20px;">
                <div class="col-md-3">
                    <label style="font-size: 20px;">Feedback Widget</label>
                </div>

                <div class="col-md-9">
                    <toggle-switch model="switchStatus"></toggle-switch>
                </div>
            </div>
            <br>
            <br>
            <div style="margin-top: 30px;">
                <label style="font-size: 20px; padding-left: 15px;">Preview</label>
                <div class="row" style="margin-top: 20px; padding-left: 15px; padding-right: 50px;">
                    <div class="col-md-6">
                        <div style="width: 350px;" id="notification">
                            <div ng-class="{'message-template': true}" ng-style="{'min-height': notfHeight, 'overflow': overflow, 'border-color': borderColor, 'border-right': borderRight, 'border-top': borderTop, 'border-bottom': borderBottom, 'border-radius': borderRadius, 'border-left': borderLeft}">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <span id="msgsent" style="margin-top: 140px; display:none; color: #7f8c8d">Message Sent</span>
                            </div>
                            <div class="panel-footer" style="margin-top: -23px;">
                                <div class="input-group">
                                    <input id="btn-input" type="text" name="msg" class="form-control input-sm" disabled placeholder="Type your message here..." style="margin-top: 3px; background-color: #ffffff" />
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm disabled" id="btn-chat" type="submit" style="margin-top: 3px;" ng-style="{'margin-top': marginTop, 'background-color': btnBackgrndColor, 'border-color': btnBorderColor, color: btnColor}">
                                    Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="panel panel-default" style="border-color: #ddd; margin-top: 20px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">Send us a Message</h3>
                                    <button type="button" class="close disabled" aria-hidden="true" style="margin-top: -25px;">&times;</button>
                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <textarea class="form-control" style="padding: 4px; height: 150px; background-color: #ffffff;" disabled></textarea>
                                        <br>
                                        <input type="submit" value="Send Message" class="btn btn-sm btn-block disabled" style="float: right;" ng-style="{'float': floatRight, 'background-color': btnBackgrndColor, 'color': btnColor}">
                                        <hr>
                                        <div style="text-align: center;">
                                            <small>Powered by UserJoy</small>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="arrow-feedback"></div> -->
                            </div>
                            <a style="cursor: pointer">
                            <div style="bottom:30px; float:right;">
                                <span style="display: inline-block;
                                min-width: 20px;
                                padding: 10px 14px;
                                font-size: 24px;
                                font-weight: 700;
                                color: #fff;
                                line-height: 1;
                                vertical-align: baseline;
                                white-space: nowrap;
                                text-align: center;
                                border-radius: 10px;" ng-style="{'background-color': btnBackgrndColor}">&#63;</span>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-3 col-md-6">
                <button type="submit" class="btn btn-info btn-block pull-right" style="padding-top:10px" ng-click="saveColor()">Save</button>
            </div>
            <br>
            <br>
        </fieldset>
    </div>
</div>