<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4">
            <div id="wrapper-settings">
                <!-- Sidebar -->
                <div id="sidebar-wrapper-settings">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand"><strong>{{App}} Settings </strong>
                        </li>
                        <li><a ui-sref="appsettings.general">General</a>
                        </li>
                        <li><a ui-sref="appsettings.team">Team</a>
                        </li>
                        <li><a ui-sref="appsettings.health">Health</a>
                        </li>
                        <li><a ui-sref="appsettings.messages">Messages</a>
                        </li>
                        <li><a ui-sref="appsettings.environment">Environment</a>
                        </li>
                        <li><a ui-sref="appsettings.billing">Billing</a>
                        </li>
                        <li><a ui-sref="appsettings.installation">Installation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-8" id="page-wrapper-settings">
            <form id="settings_profile_form" class="form-horizontal" role="form" ng-submit="changeProfileName()" novalidate name="name_update_form">
                <div style="padding-top:30px">
                    <label for="name" class="col-md-3 control-label" style="font-size: 20px; padding-left: 0px"><strong>App Name</strong></label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" name="name"  ng-model="name" required>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-info pull-right" style="padding-top:10px" ng-disabled="!name.length">Update</button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="col-md-8" id="page-wrapper-settings">
            <div ui-view="tab" autoscroll="false">
            
            </div>
        </div>
    </div>
</div>