<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4">
            <div id="wrapper-settings">
                <!-- Sidebar -->
                <div id="sidebar-wrapper-settings">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand"><strong>Account Settings </strong>
                        </li>
                        <li><a ui-sref="accountsettings">Profile</a>
                        </li>
                        <li><a ui-sref="changePassword">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="page-wrapper-settings">
            <div ng-show="showError" id="login-alert" class="alert alert-danger col-sm-12">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideErrorAlert()">&times;</button>
                <p><strong>Error: </strong>{{errMsg}}</p>
            </div>
            <form id="settings_profile_pwd_change_form" class="form-horizontal" role="form" ng-submit="changePassword()">
                <div ng-show="new_pwd.length < 5" class="alert alert-info alert-dismissable">
                New Password should be atleast 5 characters long</div>
                <div ng-show="pwdChangedSuccess" class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideSuccessAlert()">&times;</button>
                    Password Changed Successfully
                </div>
                <div class="form-group" style="padding-top:30px">
                    <label for="current_pwd" class="col-md-4 control-label" style="font-size: 20px; padding-left: 0px"><strong>Current Password</strong></label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="current_pwd"  ng-model="current_pwd" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_pwd" class="col-md-4 control-label" style="font-size: 20px; padding-left: 0px"><strong>New Password</strong></label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="new_pwd"  ng-model="new_pwd" required>
                    </div>
                </div>
                <br>
                <div class="pull-right">
                    <button type="submit" class="btn btn-info pull-right" style="padding-top:10px" ng-disabled="!(new_pwd.length > 4 && current_pwd.length > 4)">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>