<h4>Customize Health Metrics</h4>
<hr>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-success" style="padding: 15px"></button>
    </div>
    <div class="col-md-3" style="padding-top: 5px;">
        <span style="font-size: 17px;">Good Health</span>
    </div>
</div>
<br>
<div style="padding-left: 12px">
    <div class="row">
        <p>A customer is considered to be of good health when:</p>
    </div>
    <br>
    <div class="row">
        <input type="checkbox">
        <span>&nbsp;&nbsp;Visit frequency of your users is &nbsp;
        </span>
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        Weekly <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            ...
        </ul>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Overall time spent is atleast </span><span>per week</span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Pulse score is atleast </span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;At least </span><span>purchased licenses used</span>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-warning" style="padding: 15px"></button>
    </div>
    <div class="col-md-3" style="padding-top: 5px;">
        <span style="font-size: 17px;">Average Health</span>
    </div>
</div>
<br>
<div class="row">
    <div style="padding-left:12px">
        A customer is considered to be of average health if none of the criterias for good health and none of the criterias for bad health are met.
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-danger" style="padding: 15px"></button>
    </div>
    <div class="col-md-3" style="padding-top: 5px;">
        <span style="font-size: 17px;">Bad Health</span>
    </div>
</div>
<br>
<div style="padding-left: 12px;">
    <div class="row">
        <p>A customer is considered to be of good health when:</p>
    </div>
    <br>
    <div class="row">
        <input type="checkbox">
        <span>&nbsp;&nbsp;Visit frequency of your users is
        </span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Overall time spent is atleast </span><span>per week</span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;Pulse score is atleast </span>
    </div>
    <br>
    <div class="row">
        <input type="checkbox"><span>&nbsp;&nbsp;At least </span><span>purchased licenses used</span>
    </div>
</div>