<div class="col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="color:#31708f">Start tracking your customers by adding the <strong>UserJoy</strong> code to your website</h3>
            </div>
            <div class="panel-body">


                <h4>Paste this code before <code>
&lt;/body&gt;
</code>  on every page where users are logged in</h4>
                <br>
                <pre id="selectable" ng-click="selectText('selectable')" style="color: #2c3e50;"><code  ng-model="codeSnippet">
&lt;script type="text/javascript"&gt;
</code>

    <code>
    window.userjoy=window.userjoy||[],window.userjoy.methods=["identify","company","track","page","track_link","track_form"],window.userjoy.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(e),window.userjoy.push(t),window.userjoy}};for(var i=0;i < window.userjoy.methods.length;i++){var key=window.userjoy.methods[i];window.userjoy[key]=window.userjoy.factory(key)}window.userjoy.load=function(e){if(!document.getElementById("userjoy-client-js")){window._userjoy_id=e;var t=document.createElement("script");t.type="text/javascript",t.id="userjoy-client-js",t.async=!0,t.src=("https:"===document.location.protocol?"https:":"http:")+"//d1jozu9mugm1h5.cloudfront.net/js/userjoy.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)}};</code>
    <code>
    userjoy.load('{{apiKey}}');
    </code>

    <code>
    userjoy.identify({
    </code>

    <code>
        // TODO: logged in user's email.
    </code>
    <code>
        // Used to identify the user and send him email messages
    </code>
    <code>
        // (REQUIRED)
    </code>
    <code>
       email: 'test@userjoy.co',
    </code>

    <code>
        // TODO: logged in user's unique id.
    </code>
    <code>
        // if your app allows a user to change his email address,
    </code>
    <code>
        // then user_id is required to identify user
    </code>
    <code>
        // (OPTIONAL)
    </code>
    <code>
        user_id: '758439753849',
    </code>

    <code>
        // TODO: logged in user's payment status
        </code>
    <code>
        // MUST be one of 'trial' / 'free' / 'paying' / 'cancelled'
    </code>
    <code>
        // (REQUIRED)
    </code>
    <code>
        status: 'trial',
    </code>

    <code>
        // TODO: logged in user's sign-up date in UNIX timestamp
    </code>
    <code>
        // (milliseconds after epoch)
    </code>
    <code>
        // (REQUIRED)
    </code>
    <code>
        joined: 1403353187345,
    </code>

    <code>
        // TODO: logged in user's subscription plan
    </code>
    <code>
        // Helps you segment users by plan name
    </code>
    <code>
        // (OPTIONAL)
    </code>
    <code>
        plan: 'Enterprise',
    </code>

    <code>
        // TODO: monthly revenue from user
    </code>
    <code>
        // (OPTIONAL)
    </code>
    <code>
        revenue: 499
    </code>
    });

&lt;/script&gt;
</pre>

                <!-- <textarea class="form-control" rows="10">Code to be added here .....</textarea> -->
                <div style="padding-top:20px">
                    <!-- <button class="btn btn-info pull-right" style="margin-right:10px">Copy to Clipboard</button> -->
                    <button class="btn btn-info pull-right" style="margin-right:10px" ng-click="sendToDeveloper()" id="sendToDeveloper" type="button">Send to Developer</button>
                </div>
            </div>
        </div>
    </div>
</div>
