<div class="col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add the code to your app</h3>
        </div>
        <!-- <div class="panel-body">
            <p>Paste this code before <span style="color: #428bca;">&lt;/body&gt;</span> on every page where your users are logged in. Edit code by adding email id, user id ....<p>
            <br>
            <textarea class="form-control" rows="10">Code to be added here .....</textarea>
            <div style="padding-top:20px">
                <button class="btn btn-success pull-right">Copy to Clipboard</button>
                <button class="btn btn-success pull-right" style="margin-right:10px">Send to Developer</button>
            </div>
        </div> -->
        <div class="panel-body">
                <h4>Edit code by adding email id, user id ....</h4>
                <br>
                <pre id="selectable" ng-click="selectText('selectable')"><code  ng-model="codeSnippet">
window.userjoy = window.userjoy || [];
​window.userjoy.methods = ['identify', 'company', 'track', 'page', 'track_link', 'track_form'];
​window.userjoy.factory = function (method) {
  return function () {
    var args = Array.prototype.slice.call(arguments);
    args.unshift(method);
    window.userjoy.push(args);
    return window.userjoy;
  };
};
​for (var i = 0; i < window.userjoy.methods.length; i++) {
  var key = window.userjoy.methods[i];
  window.userjoy[key] = window.userjoy.factory(key);
}
​window.userjoy.load = function (key) {
  window._userjoy_id = key;
  if (document.getElementById('userjoy')) return;
  // Create an async script element based on your key.​
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.id = 'userjoy';
  script.async = true;
  script.src = 'https://d1jozu9mugm1h5.cloudfront.net/js/userjoy.js';
  var first = document.getElementsByTagName('script')[0];
  first.parentNode.insertBefore(script, first);
};
​window.userjoy.SNIPPET_VERSION = '1.0.0';
​window.userjoy.load('{{apiKey}}');
userjoy.page();
</code></pre>
                <!-- <textarea class="form-control" rows="10">Code to be added here .....</textarea> -->
                <div style="padding-top:20px">
                    <!-- <button class="btn btn-info pull-right" style="margin-right:10px">Copy to Clipboard</button> -->
                    <button class="btn btn-info pull-right" style="margin-right:10px" ng-click="sendToDeveloper()">Send to Developer</button>
                </div>
            </div>
        </div>
    </div>
</div>