<div ng-include src="'/templates/navbar/navbar.html'"></div>
<div class="row">
    <div ng-include src="'/templates/navbar/server-error-success.html'" class="col-md-offset-4 col-md-4"></div>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div id="wrapper-settings">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper-settings">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"><strong>{{App}} Settings </strong>
                            </li>
                            <li ng-class="{'active': isActive('general')}"><a ui-sref="appsettings.general">General</a>
                            </li>
                            <li ng-class="{'active': isActive('team')}"><a ui-sref="appsettings.team">Team</a>
                            </li>
                            <li ng-class="{'active': isActive('colorthemes')}"><a ui-sref="appsettings.messages">Color Themes</a>
                            </li>
                            <!-- <li><a ui-sref="appsettings.environment">Environment</a>
                            </li> -->
                            <li ng-class="{'active': isActive('billing')}"><a ui-sref="appsettings.billing">Billing</a>
                            </li>
                            <li ng-class="{'active': isActive('installation')}"><a ui-sref="appsettings.installation">Installation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="page-wrapper-settings">
                <div id="wrapper">
                    <div class="row">
                        <div ui-view="tab" autoscroll="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>