<div>
    <div class="alert alert-success text-center col-md-offset-4 col-md-4 navbar-fixed-top" style="padding: 3px; border-color: #30b661; margin-bottom: 0px; position: absolute; margin-top: 30px;" ng-show="success">{{successMsgRootScope}}</div>
    <div class="alert alert-danger text-center col-md-offset-4 col-md-4 navbar-fixed-top" style="padding: 3px; border-color: #c0392b; margin-bottom: 0px; position: absolute; margin-top: 30px;" ng-show="error">{{errMsgRootScope}}</div>
    <div class="row" style="margin-top: 20px;">
        <p class="text-center" style="font-size: 35px"><strong>UserJoy</strong></p>
    </div>
</div>
<div ui-view="notLogin"></div>