<div ng-controller="NavbarCtrl" ng-class="class">
    <nav role="navigation" style="background-color: #f8f8f8; border-color: #e7e7e7;" class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">
                Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                </button>
                <a style="font-size:19px; cursor: pointer;" class="navbar-brand" ng-click="redirectToApp()">UserJoy
                </a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
                <ul class="nav navbar-nav">
                    <!-- <li>
                        <a href="/apps/{{appId}}/feed" ng-class="{'active': isActive('feed')}"><i class="fa fa-sort-amount-asc" >
                            </i>
                            Feed
                            </a>
                    </li> -->
                    <li>
                        <a ng-click="goToUsers()" ng-class="{'active': isActive('users')}" style="cursor: pointer;">
                        <i class="fa fa-user">
                        </i>
                        Users
                        </a>
                    </li>
                    <li>
                        <a ng-click="goToConversations()" ng-class="{'active': isActive('messages')}" style="cursor: pointer;">
                        <i class="fa fa-envelope-o">
                        </i>
                        Messages
                        </a>
                    </li>
                </ul>
                <div class="col-md-5 col-md-push-1" style="margin-top: 15px;">
                    <div class="alert alert-success text-center" style="padding: 3px; border-color: #30b661; margin-bottom: 0px; position: absolute; width: 500px;" ng-show="success">{{successMsgRootScope}}</div>
                    <div class="alert alert-danger text-center" style="padding: 3px; border-color: #c0392b; margin-bottom: 0px; position: absolute; width: 500px;" ng-show="error">{{errMsgRootScope}}</div>
                </div>
                <ul class="nav navbar-nav navbar-right" style="padding-right: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" ng-click="showDropdownApp()">
                        <i class="fa fa-folder-open-o">
                        </i>
                        {{displayApp}}
                        <i class="fa fa-caret-down">
                        </i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-show="visibleDropdownApp">
                            <li role="presentation" ng-show="!apps">
                                <a role="menuitem" tabindex="-1"  href="/onboarding">
                                <span>No Apps are connected</span>
                                <br>
                                <span>Click here to connect an app</span></a>
                            </li>
                            <li role="presentation" ng-repeat="app in apps">
                                <a role="menuitem" tabindex="-1" href="#" ng-show="apps" ng-click="changeApp(app)">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{app.name}}
                                </a>
                                <a href="#" style="font-size: 14px" ng-show="apps" ng-click="goToSettings(app)" class="glyphicon glyphicon-cog">&nbsp;Settings for {{app.name}}</a>
                                <hr ng-show="!$last">
                                <!-- <button class="gylphicon glyphicon"></button> -->
                            </li>
                            <hr>
                            <a ui-sref="onboarding" class="btn btn-sm btn-info btn-block fa fa-plus" style="margin-right: 18px; margin-left: 18px; margin-bottom: 15px; width: 85%;">&nbsp;New App</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" ng-click="showDropdown()">
                        <i class="fa fa-cogs">
                        </i>
                        Account
                        <i class="fa fa-caret-down">
                        </i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-show="visibleDropdown">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" ng-click="goToAccountSettings()" ng-class="{'active': isAccountActive('settings')}" style="cursor: pointer;">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;&nbsp;Settings
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="http://docs.userjoy.co" ng-class="{'active': isAccountActive('docs')}" target="_blank">
                                <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;&nbsp;Docs
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" ng-click="logout()">
                                <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;&nbsp;&nbsp;Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<!-- <div class="row showError" ng-show="error">
                    <div class="alert alert-danger text-center navbar-fixed-top" style="margin-top: 61px; margin-bottom: 30px; z-index: 20;">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideError($event)">&times;</button>
                                        {{errMsgRootScope}}
                    </div>
                    <alert type="danger" close="closeAlert($index)">{{alert}}</alert>
</div>
<div class="row showSuccess" ng-show="success">
                    <div class="alert alert-success text-center navbar-fixed-top" style="margin-top: 61px; margin-bottom: 30px; z-index: 20;">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideSuccess($event)">&times;</button>
                                        {{successMsgRootScope}}
                    </div>
</div> -->